        Remplissez ce formulaire afin de nous contacter en cas de problème sur votre espace.
        <form [formGroup]="contactForm">
            <div class="mb-3 mt-3">
                <select class="form-control validation-field"
                    [(ngModel)]="newMail.typeAssistance" name="mm"
                    formControlName="type" required >
                    <option [attr.selected] = "true" disabled>Choisir le type de problème
                    </option>
                    <ng-container *ngFor="let assistance of assistances">
                        <option [value]="assistance.id">{{assistance.typeAssistance}}
                        </option>
                    </ng-container>
                </select>
                <small class="text-danger" *ngIf="contactForm.get('type').touched">
                    <span *ngIf="contactForm.get('type').hasError('required')">Ces
                        informations sont obligatoires</span>
                </small>
            </div>
           
            <div class="mb-3"> 
                <label>Donner une description claire du problème</label>
                <p-editor [(ngModel)]="message" formControlName="description"
                    [style]="{'height':'150px'}">
                        <p-header>
                            <span class="ql-formats">
                                <button class="ql-bold" aria-label="Bold"></button>
                                <button class="ql-italic" aria-label="Italic"></button>
                                <button class="ql-underline" aria-label="Underline"></button>
                            </span>
                        </p-header>
                </p-editor>
                    
                <small class="text-danger" *ngIf="contactForm.get('type').touched">
                    <span *ngIf="contactForm.get('description').hasError('required')">Ces
                        informations sont obligatoires</span>
                </small>
            </div>
              <!-- <div class="custom-file mb-3">
                <input type="file" class="custom-file-input" id="customFile" name="fichier" formControlName="fichier" [ngModel]="file" multiple>
                <label class="custom-file-label" for="customFile">choississez un fichier</label>
                
              </div> -->
            <button class="btn btn-success float-right" [disabled]="!contactForm.valid"
                (click)="EnvoiMail()">Contacter</button>
        </form>
   

