<p-toast></p-toast>
<p-fieldset *ngIf="'Classe'|showable" legend="Affichage des informations - Classe" [toggleable]="true">
  <p-fieldset [legend]="classe.libelleclasse">
    <table class="table">
      <tr>
        <th>Codeclasse</th>
        <td>{{ classe.codeclasse }}</td>
      </tr>
      <tr>
        <th>Libelleclasse</th>
        <td>{{ classe.libelleclasse }}</td>
      </tr>
      <tr>
        <th>Etat</th>
        <td>{{ classe.etat ? 'Yes' : 'No' }}</td>
      </tr>
    </table>
    <p-toolbar>
      <button type="button" class="btn btn-outline-secondary pull-left ml-1" (click)="location.back()"><i
          class="fa fa-reply"></i> Retour</button>
      <button *ngIf="'Classe'|showable" type="button" class="btn btn-secondary ml-1" (click)="refresh()">
        <i class="fa fa-refresh" aria-hidden="true"></i> Raffraichir les données
      </button>
    </p-toolbar>
  </p-fieldset>
  <p-fieldset>
    <app-inscriptionacad-list [classe]="classe" *ngIf="classe"></app-inscriptionacad-list>
  </p-fieldset>
</p-fieldset>