<div class="card" routerLinkActive="router-link-active">
    <!-- <img [routerLink]="['/mes-infos']" class="card-img-top w-100"
            src="assets/img/dossier.jpg" alt="Dossier"> -->
    <div class="card-body">
        <h4 class="card-title">Mon dossier</h4>
        <p class="card-text">
            L'Université de Thiès demande aux bacheliers de ne communiquer, en aucun cas,
            ces informations de
            connexion à l'espace étudiant à des tiers :
        </p>
        <ul class="list-unstyled">
            <li>
                - INE
            </li>
            <li>
                - Numéro de carte d'étudiant
            </li>
            <li>
                - Adresse Email
            </li>
            <li>
                - Mot de passe
            </li>
        </ul>
        <p class="card-text">
            Elles sont strictement personnelles et doivent être soigneusement conservées par
            l'étudiant. Il est absolument interdit de recourir à des tiers ou des
            associations, à quelque titre que ce soit, dans le cadre des opérations
            réalisées en vue de l'inscription.
        </p>
    </div>
</div>