<p-toast></p-toast>
<div class="row">
  <div class="col-lg-12 col-md-12">
    <div widget class="card border-0 box-shadow">
      <div class="card-body widget-body border-1">
        <div class="row d-flex align-items-center">
          <div class="col-sm-12 col-lg-12 col-md-12 align-items-center">
            <div class="ml-1 mr-1 row d-flex justify-content-between">
              <h5>
                <b class="badge badge-red text-white" style="font-size: 20px;">Visites Medicales - Etudiants</b>
              </h5>
              <h5>
                <b class="badge badge-red text-white">Année Académique : {{ anneeEnCours?.libelleanneeacad }}
                </b>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12" *ngIf="currentUser?.idgroup?.codegroupe=='MedChef' || currentUser?.idgroup?.codegroupe=='SA'">
    <div widget class="card border-0 box-shadow">
      <div class="card-body widget-body border-1 d-flex justify-content-end">
        <a style="font-size: 30px; font-weight: bold;" class="" routerLink="/visite-medicale/statistics">
          Accedez aux statistiques <i class="fa fa-arrow-right fa-lg fa-fw"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-sm-12 col-lg-12 col-md-12">
    <p-tabView styleClass="tabview-custom">
      <p-tabPanel>
        <ng-template pTemplate="header">
          <i class="fa fa-user-md" style="font-size: 20px;" aria-hidden="true"></i> &nbsp;
          <span>Nouvelle Consultation</span>
        </ng-template>
        <br>
        <app-visitemedicale-new (created)="onCreate($event)"></app-visitemedicale-new>
      </p-tabPanel>
      <p-tabPanel>
        <ng-template pTemplate="header">
          <i class="fa fa-list" aria-hidden="true"></i>&nbsp;
          <span>Mes consultations</span>
        </ng-template>
        <div>
          <div class="row ">
            <div class="col-12  d-flex justify-content-end mb-2">
              <button type="button" class="btn btn-outline-secondary" (click)="refreshList()">
                <i class="fa fa-refresh" aria-hidden="true"></i> Raffraichir les données
              </button>
            </div>
          </div>
          <app-visitemedicale-list [visiteMedicales]="visiteMedicales"></app-visitemedicale-list>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>