<p-toast></p-toast>
<div class="row">
  <div class="col-lg-12 col-md-12">
    <div widget class="card border-0 box-shadow">
      <div class="card-body widget-body border-1">
        <div class="row d-flex align-items-center">
          <div class="col-sm-12 col-lg-12 col-md-12 align-items-center">
            <div class="ml-1 mr-1 row d-flex justify-content-between">
              <h5>
                <b class="badge badge-red text-white">Visites - Medicales</b>
              </h5>
              <h5>
                <b class="badge badge-red text-white"
                  >Année Académique : {{ anneeEnCours?.libelleanneeacad }}
                </b>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-sm-12 col-lg-12 col-md-12">
    <p-tabView styleClass="tabview-custom">
      <p-tabPanel>
        <ng-template pTemplate="header">
          <i class="fa fa-user-md" style="font-size: 20px;" aria-hidden="true"></i> &nbsp;
          <span>Consultation</span>
        </ng-template>
        <br>
        <app-visitemedicale-new (created)="onCreate($event)" ></app-visitemedicale-new>
      </p-tabPanel>
      <p-tabPanel>
        <ng-template pTemplate="header">
          <i class="fa fa-list" aria-hidden="true"></i>&nbsp;
          <span>Liste</span>
        </ng-template>
        <p>
          <app-visitemedicale-list [visiteMedicales]="visiteMedicales" ></app-visitemedicale-list>
        </p>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
