<div class="row">
    <div class="col">
      <div class="card-header" style="background-color: red; color: white; text-align: center">
        <h3 class="card-title"><i class="fa fa-window-close" aria-hidden="true"></i> Erreur Paiement</h3>
      </div>
      <div class="card border-0 box-shadow">
        <div class="card-body card-body widget-body">
          <p class="card-text" style="text-align: center"><b><h3>Bonjour {{etudiant?.prenometudiant}} {{etudiant?.nometudiant}},</h3></b>
           <br><h5>Désolé,<br> le paiement pour votre inscription n’a pas pu réussir.<br>
             Une erreur est survenue lors de la transaction.<br>
            Merci d'essayer à nouveau.</h5></p>
        </div>
      </div>
    </div>
  </div>
  