<div class="col-lg-12">
    <p-tabView>
        <p-tabPanel header="Mon status">
            <app-frais-encadrement-status></app-frais-encadrement-status>
        </p-tabPanel>
        <p-tabPanel header="Details Transaction en cours">
            <app-temporary-payment-details></app-temporary-payment-details>
        </p-tabPanel>
        <p-tabPanel header="Mes paiements">
            <app-historic-payment-list></app-historic-payment-list>
        </p-tabPanel>
        <p-tabPanel header="Mes Reclamations">
           <app-reclamation-payment></app-reclamation-payment>
        </p-tabPanel>
    </p-tabView>
</div>
