<div class="container main-content">
    <div class="row mb-4">
        <div class="col-lg-6 align-items-center">
            <div class="card border-0 box-shadow">
                <div class="card-header transparent border-0">
                    <h3><b>Details de la transaction en cours</b></h3>
                    <hr>
                </div>
                <div class="card-body pt-0 widget-body border-1">
                    <div class="col">
                        <div class="alert alert-primary" role="alert">
                            <h4 class="alert-heading">Info Payment!</h4>
                            <p>Vous pouvez vous rendre dans un point touch muni de votre numéro de transaction pour
                                procéder au paiement, ou cliquer sur le bouton <b>Payé par Mobile Money</b>.
                            </p>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover table-condensed">
                                <tbody>
                                    <tr>
                                        <th scope="row">Numero de transaction</th>
                                        <td>{{ transactionNumber }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Montant Payé</th>
                                        <td>{{ amountPaid }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Moyen de paiement</th>
                                        <td>{{ paymentMethod }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Date</th>
                                        <td>{{ date }}</td>
                                    </tr>
                                </tbody>
                                <div>
                                    <button type="submit" class="btn btn-primary mt-3">Payé par
                                        Mobile Money</button>
                                </div>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>