<div class="card card-outline-danger bg-gray">
    <div class="card-body">
        <span class="title bg-white h6">Vous avez des préinscriptions actives.</span>
        <!-- preinscription active -->
        <div class="row">
            <div class="col-12">
                <div class="table-responsive bg-white box-shadow">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Date délai</th>
                                <th>Filière</th>
                                <th>Niveau</th>
                                <th>Année académique</th>
                                <th>Type admission</th>
                                <th>Type Passage</th>
                                <th>Montant</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let preinscription of preinscriptions">
                                <td class="align-middle">{{preinscription?.datedelai|date:'dd/mm/yyyy'}}</td>
                                <td class="align-middle text-truncate">{{preinscription?.idfiliere?.codefiliere}}</td>
                                <td class="align-middle text-truncate">{{preinscription?.idniveau?.libelleniveau}}</td>
                                <td class="align-middle text-truncate">{{preinscription?.idanneeacad?.libelleanneeacad}}</td>
                                <td class="align-middle text-truncate">{{preinscription?.idtypeadmission?.libelletypeadmission}}</td>
                                <td class="align-middle text-truncate">
                                    <span class="badge badge-success" *ngIf="preinscription?.passage=='P'">Passant</span>
                                    <span class="badge badge-danger" *ngIf="preinscription?.passage=='R'">Redoublant</span>
                                    <span class="badge badge-warning" *ngIf="preinscription?.passage=='C'">Conditionnel</span>
                                </td>
                                <td class="align-middle text-truncate">{{preinscription?.montant }}</td>
                                <td class="align-middle">
                                    <div class="btn-group" role="group">
                                        <button (click)="startProcess(preinscription.id)"  class="btn btn-outline-primary">
                                            <i class="fa fa-address-card-o"></i> Finaliser mon
                                            inscription</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- fin preinscription active -->
    </div>
</div>