<div class="dropdown d-inline-block">
    <a class="dropdown-toggle no-caret pl-2 pr-2" id="user-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-user-o" aria-hidden="true"></i>
    </a>

    <div class="dropdown-menu dropdown-menu-right rounded-0 mt-3 p-0 box-shadow" aria-labelledby="user-menu">
        <div class="user-menu">
            <div class="user-info text-center p-3">
                <img src="assets/img/users/user.jpg" alt="user-img" class="user-img rounded-circle">                    
                <p class="mt-1 mb-0"> 
                    {{currentUser.prenom+' '+currentUser.nom}}<br>
                    <small>{{currentUser?.profession?.libelleprofil}}</small>
                </p>
            </div>
            <a class="dropdown-item" routerLink="profile"><i class="fa fa-user mr-2"></i>Mon Profil</a>
            <a class="dropdown-item" routerLink="settings"><i class="fa fa-cog mr-2"></i>Mes preferences</a>
            <a class="dropdown-item" routerLink="/"><i class="fa fa-lock mr-2"></i>Verouiller mon compte</a>
            <a class="dropdown-item mb-1" (click)="logout()" ><i class="fa fa-power-off mr-2"></i>Me deconnecter</a>
           
        </div>
    </div>
</div>
