<div class="row">
    <div class="col-sm-12 col-lg-12 col-md-12">
        <p-table #tt [value]="visiteMedicales" [paginator]="true" [rows]="50" sortMode="multiple"
            selectionMode="multiple" [(selection)]="selectedVisiteMedicales" [resizableColumns]="true" [responsive]="true"
            [(contextMenuSelection)]="selectedVisiteMedicale" [scrollable]="true" scrollHeight="400px"
            [globalFilterFields]="globalFilterFields" dataKey="id">
            <ng-template pTemplate="caption">
                Liste des visites médicales<br>
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Rechercher dans le tableau"
                    (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </ng-template>
            <ng-template pTemplate="colgroup">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3em">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pResizableColumn>
                        Prenom
                         <p-sortIcon [field]="'inscriptionacad.idetudiant.prenometudiant'"></p-sortIcon>
                    </th>
                    <th pResizableColumn>
                        Nom 
                        <p-sortIcon [field]="'inscriptionacad.idetudiant.nometudiant'"></p-sortIcon>
                    </th>
                    <th pResizableColumn>
                        Commentaire
                    </th>
                    <th pResizableColumn >
                        Date Consultation
                    </th>
                    <th pResizableColumn  >
                        Classe
                    </th>
                    <th pResizableColumn>
                        Statut
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-visiteMedicale let-editing="editing">
                <tr [pEditableRow]="visiteMedicale" [pSelectableRow]="visiteMedicale" [pContextMenuRow]="visiteMedicale">
                    <td style="width: 3em">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </td>
                    <td class="ui-resizable-column">
                        {{ visiteMedicale?.inscriptionacad?.idetudiant?.prenometudiant }}
                    </td>
                    <td class="ui-resizable-column">
                        {{ visiteMedicale?.inscriptionacad?.idetudiant?.nometudiant }}
                    </td>
                    <td class="ui-resizable-column" >
                       <div [innerHTML]="visiteMedicale.commentaire">
                          <span>{{visiteMedicale?.commentaire}}</span>
                       </div>
                        <span *ngIf="!visiteMedicale.commentaire" class="badge badge-danger"> Pas de commentaire</span>
                        
                    </td>
                    <td class="ui-resizable-column">
                        {{ visiteMedicale?.date | date: 'dd/MM/yyyy' }}
                    </td>
                    <td class="ui-resizable-column" >
                        {{ visiteMedicale?.inscriptionacad?.idclasse?.idniveau?.libelleniveau + ' ' +  visiteMedicale?.inscriptionacad?.idclasse?.idfiliere?.libellefiliere }}
                    </td>
                    <td class="ui-resizable-column">
                        <span *ngIf="visiteMedicale.apte" class="badge badge-success">{{ visiteMedicale?.apte ? 'Apte' : 'Inapte' }}</span>
                  <span *ngIf="!visiteMedicale.apte" class="badge badge-warning">{{ visiteMedicale?.apte ? 'Apte' : 'Inape' }}</span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer" let-columns>
                <tr>
                    <td style="width: 3em">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </td>
                    <td>Prenom</td>
                    <td>Nom</td>
                    <td>Genre</td>
                    <td>Date consultation</td>
                    <td>Classe</td>
                    <td>Statut</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>