<div class="card border-info">
    <div class="card-body">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <p-dropdown (onChange)="findClasseByEntiteGroupByAnnee()" [options]="anneAcads"
                [(ngModel)]="selectedAnneeAcad" optionLabel="libelleanneeacad" [style]="{'width':'100%'}"></p-dropdown>

            <div class="mt-2" style="width: 100%;">
                <p-autoComplete [(ngModel)]="numeroInterne" [suggestions]="filteredEtudiants"
                    (completeMethod)="searchEtudiant($event)" [size]="60" [minLength]="1" [field]="'unbounded'"
                    placeholder="Rechercher un etudiant">
                    <ng-template let-etudiant pTemplate="item">
                        <div class="ui-helper-clearfix" (click)="viewEtudiant(etudiant)" style="border-bottom:1px solid #D5D5D5">
                            <img src="{{ etudiant?.photoLink || 'assets/img/no-image.png' }}"
                                style="width:32px;display:inline-block;margin:5px 0 2px 5px" />
                            <div style="font-size:18px;float:right;margin:10px 10px 0 0">
                                {{ etudiant?.prenometudiant }}
                                {{ etudiant?.nometudiant | uppercase }} </div>
                        </div>
                    </ng-template>
                </p-autoComplete>
            </div>


            <div *ngIf="searchInputTouched && !searching && !filteredEtudiants.length && numeroInterne"
                class="alert alert-danger mt-3 text-white" role="alert">
                Aucun n'étudiant n'a été trouvé avec le numéro de dossier indiqué pour l'année.
            </div>


        </div> <br>
        <div class="col-md-12 col-lg-12 col-sm-12">
            <p-accordion>
                <p-accordionTab *ngFor="let classeItem of classeData"
                    header="{{classeItem?.etablissement?.codeentite}}">

                    <div class="table-responsive">
                        <p-table #tt [value]="classeItem?.classes" [paginator]="true" [rows]="50" sortMode="multiple"
                            selectionMode="multiple" [(selection)]="selectedClasses" [resizableColumns]="true"
                            [responsive]="true" [(contextMenuSelection)]="selectedClasse" [scrollable]="true"
                            scrollHeight="400px" [globalFilterFields]="globalFilterFields" dataKey="id">
                            <ng-template pTemplate="caption">
                                Liste des classes<br>
                                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                <input type="text" pInputText size="50" placeholder="Rechercher dans le tableau"
                                    (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                                <div class="ui-helper-clearfix" style="text-align: left">
                                    <button *ngIf="'Classe'|listable" type="button" pButton icon="pi pi-file-pdf"
                                        iconPos="left" label="PDF" (click)="exportPdf()"
                                        class="ui-button-warning pull-right ml-1"></button>
                                    <button *ngIf="'Classe'|listable" type="button" pButton icon="pi pi-file-excel"
                                        iconPos="left" label="EXCEL" (click)="exportExcel()"
                                        style="margin-right: 0.5em;" class="ui-button-success pull-right"></button>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="colgroup">
                                <colgroup>
                                    <col>
                                    <col>
                                    <col>
                                </colgroup>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 3em">
                                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                    </th>
                                    <th [pSortableColumn]="'codeclasse'" pResizableColumn>
                                        Codeclasse <p-sortIcon [field]="'codeclasse'"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'libelleclasse'" pResizableColumn>
                                        Libelleclasse <p-sortIcon [field]="'libelleclasse'"></p-sortIcon>
                                    </th>
                                    <th pResizableColumn>
                                        Actions
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-classe let-editing="editing">
                                <tr [pEditableRow]="classe" [pSelectableRow]="classe" [pContextMenuRow]="classe">
                                    <td style="width: 3em">
                                        <p-tableCheckbox [value]="classe"></p-tableCheckbox>
                                    </td>
                                    <td class="ui-resizable-column">
                                        {{ classe.codeclasse }}
                                    </td>
                                    <td class="ui-resizable-column">
                                        {{ classe.libelleclasse }}
                                    </td>
                                    <td class="ui-resizable-column">
                                        <button label="Détails" (click)="viewClasse(classe)" pButton
                                            icon="pi pi-eye"></button>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="footer" let-columns>
                                <tr>
                                    <td style="width: 3em">
                                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                    </td>
                                    <td>Codeclasse</td>
                                    <td>Libelleclasse</td>
                                    <td>Actions</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>

                </p-accordionTab>
            </p-accordion>
        </div>

    </div>
</div>