<p-toast></p-toast>
<div class="row" *ngIf="'DemandeDocument'|listable">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <p-fieldset legend="Liste des demande_documents" [toggleable]="true">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <p-toolbar>
            <button *ngIf="'DemandeDocument'|listable" type="button" class="btn btn-outline-secondary"
              (click)="refreshList()">
              <i class="fa fa-refresh" aria-hidden="true"></i> Raffraichir les données
            </button>
            <button *ngIf="'DemandeDocument'|deletable" (click)="deleteSelectedDemandeDocuments()" type="button"
              class="btn btn-outline-danger pull-right ml-1">
              <i class="fa fa-trash-o" aria-hidden="true"></i> Supprimer selection
            </button>
            <button *ngIf="'DemandeDocument'|creable" [routerLink]="['/'+demande_documentSrv.getRoutePrefix(),'new']"
              routerLinkActive="router-link-active" type="button" class="btn btn-outline-primary pull-right ml-1">
              <i class="fa fa-plus-square-o" aria-hidden="true"></i> Nouveau
            </button>
          </p-toolbar>
          <p-table #tt [value]="demande_documents" [paginator]="true" [rows]="50" sortMode="multiple"
            selectionMode="multiple" [(selection)]="selectedDemandeDocuments" [resizableColumns]="true"
            [responsive]="true" [contextMenu]="contextMenu" [(contextMenuSelection)]="selectedDemandeDocument"
            [scrollable]="true" scrollHeight="400px" [globalFilterFields]="globalFilterFields" dataKey="id">
            <ng-template pTemplate="caption">
              Liste des demande_documents<br>
              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
              <input type="text" pInputText size="50" placeholder="Rechercher dans le tableau"
                (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
              <div class="ui-helper-clearfix" style="text-align: left">
                <button *ngIf="'DemandeDocument'|listable" type="button" pButton icon="pi pi-file-pdf" iconPos="left"
                  label="PDF" (click)="exportPdf()" class="ui-button-warning pull-right ml-1"></button>
                <button *ngIf="'DemandeDocument'|listable" type="button" pButton icon="pi pi-file-excel" iconPos="left"
                  label="EXCEL" (click)="exportExcel()" style="margin-right: 0.5em;"
                  class="ui-button-success pull-right"></button>
              </div>
            </ng-template>
            <ng-template pTemplate="colgroup">
              <colgroup>
                <col>
                <col>
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 3em">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th [pSortableColumn]="'type'" pResizableColumn>
                  Type <p-sortIcon [field]="'type'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'intitule'" pResizableColumn>
                  Intitule <p-sortIcon [field]="'intitule'"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-demande_document let-editing="editing">
              <tr [pEditableRow]="demande_document" [pSelectableRow]="demande_document"
                [pContextMenuRow]="demande_document">
                <td style="width: 3em">
                  <p-tableCheckbox [value]="demande_document"></p-tableCheckbox>
                </td>
                <td class="ui-resizable-column">
                  {{ demande_document.type }}
                </td>
                <td class="ui-resizable-column">
                  {{ demande_document.intitule }}
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer" let-columns>
              <tr>
                <td style="width: 3em">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </td>
                <td>Type</td>
                <td>Intitule</td>
              </tr>
            </ng-template>
          </p-table>
          <p-contextMenu #contextMenu [model]="cMenuItems"></p-contextMenu>
          <p-toolbar>
            <button *ngIf="'DemandeDocument'|deletable" (click)="deleteSelectedDemandeDocuments()" type="button"
              class="btn btn-outline-danger mr-1">
              <i class="fa fa-trash-o" aria-hidden="true"></i> Supprimer selection
            </button>
            <button *ngIf="'DemandeDocument'|creable" [routerLink]="['/'+demande_documentSrv.getRoutePrefix(),'new']"
              routerLinkActive="router-link-active" type="button" class="btn btn-outline-primary mr-1">
              <i class="fa fa-plus-square-o" aria-hidden="true"></i> Nouveau
            </button>
          </p-toolbar>
        </div>
      </div>
    </p-fieldset>
  </div>
</div>