<div class="row">
    <div class="col">
      <div class="card-header" style="background-color: green; color: white;  text-align: center;">
        <h3 class="card-title"><i class="fa fa-check-square-o" aria-hidden="true"></i> Paiement Réussi</h3>
      </div>
      <div class="card border-0 box-shadow">
        <div class="card-body card-body widget-body">
          <p class="card-text" style=" text-align: center;"><b><h3>Bonjour {{etudiant?.prenometudiant}} {{etudiant?.nometudiant}},</h3></b>
           <br><h5> Votre paiement s’est bien passé <br/>
            Vous recevrez un mail récapitulatif dans les plus bref delais.</h5></p>
        </div>
      </div>
    </div>
  </div>
  