<div class="row">
  <div class="col">
    <div class="card-header" style="background-color: green; color: white;  text-align: center;">
      <h3 class="card-title"><i class="fa fa-check-square-o" aria-hidden="true"></i> Processus de paiement en cours</h3>
    </div>
    <div class="card border-0 box-shadow">
      <div class="card-body card-body widget-body">
        <div class="card-text">
          <h5>Bonjour {{etudiant?.prenometudiant}} {{etudiant?.nometudiant}},
            Votre paiement est en cours de traitement, un mail de confirmation de paiement devrait vous être envoyé.
            <br>
            Si vous ne retrouvez pas votre nouvelle inscription dans l'onglet <b>Parcours</b> d'ici demain, merci de
            contacter la DSOS. <br>
          </h5>
          <br>
          <h5> Vous pouvez suivre votre dossier sur votre espace étudiant.<br />

            Il faudra nécessairement téléverser tous les documents nécessaires à votre dossier à partir de votre espace
            étudiant.

            Une fois l'inscription définitivement validée, la carte et le certificat d'inscription seront tirés et remis
            au Service de la scolarité de votre établissement ou à votre responsable de classe.

            Pour les retirer il va falloir effectuer votre visite médicale pour l'année universitaire auprès du médecin
            du CROUS, sauf si vous en êtes exempté.
            <br>
            <br>
            <br /> Pour de plus amples informations, vous pouvez contacter <a
              href="mailto:dsos@univ-thies.sn">dsos@univ-thies.sn</a> en précisant toujours votre numéro de dossier avec
            un objet clair et explicite.
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>