<p-toast>
</p-toast>
<!-- form reclamation_bourse info -->
<form class="form" role="form" #reclamation_bourseForm="ngForm" autocomplete="off">

    <!-- debut body -->

    <div class="modal-header new-reclamationBourse-header">
        <h4 class="modal-title">Reclamation</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>

    </div>
    <p-card>
        <div class="row">

            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="objet">Objet</label>
                    <input [(ngModel)]="reclamationBourse.objet" class="form-control" type="text" name="objet" id="objet">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="message">Message</label>
                    <p-editor name="message" styleClass="editor-dimensions" [(ngModel)]="reclamationBourse.message" [style]="{'height':'200px'}">
                       
                    </p-editor> <br>
                    <button pButton type="button" label="Clear" icon="pi pi-times" (click)="reclamationBourse.message=null"></button>

                    
            


                </div>
              
            </div>
        </div>

        <!-- fin body -->
        <p-toolbar>
            <button type="reset" class="btn btn-secondary pull-left">
                <i class="fa fa-eraser" aria-hidden="true"></i>
                Vider le formulaire</button>

            <button [disabled]="reclamation_bourseForm.invalid" type="button" (click)="saveReclamationBourse()" class="btn btn-outline-primary pull-right">
                <i class="fa fa-save" aria-hidden="true"></i>
                Enregistrer </button>
        </p-toolbar>
    </p-card>

</form>
<!-- /form reclamation_bourse info -->