<form ngVa (submit)="updateEtudiant()" #etudiantForm="ngForm" ngNativeValidate>
    <div class="card border-white text-center">
        <div class="card-body  bg-white">
            <!-- debut form content -->
            <div class="row">
                <!-- info perso start -->
                <div class="col-md-6">
                    <div class="card-header shadow p-3 "> Informations Personnelles &nbsp;&nbsp;&nbsp;<i
                            class="text-secondary fa fa-user"></i></div>
                    <div class="form-inline border-white mt-2">
                        <div class="card border-white bg-transparent col-md-12">
                            <label for="AdresseMail">Adresse Mail Personnelle</label>
                            <input [required]="true" [(ngModel)]="etudiant.email" type="text" class="form-control"
                                name="AdresseMail" id="AdresseMail" #email="ngModel">
                            <app-form-field-validation-message [formField]="email">
                            </app-form-field-validation-message>
                        </div>
                        <div class="card border-white col-sm-12 border-top-0">
                            <label>Telephone 1</label>
                            <input [required]="true" [(ngModel)]="etudiant.teletudiant" type="tel" class="form-control"
                                name="Telephone1" #telephone1="ngModel">
                            <app-form-field-validation-message [formField]="telephone1">
                            </app-form-field-validation-message>
                        </div>
                        <div class="card border-white col-sm-12 border-top-0">
                            <label>Telephone 2</label>
                            <input [(ngModel)]="etudiant.teletudiant2" type="tel" class="form-control"
                                name="Telephone2">
                        </div>
                    </div>
                </div>
                <!-- end info perso -->
                <!-- situation matrimoniale start -->
                <div class="col-md-6">
                    <div class="card-header shadow p-3"> Situation Familiale&nbsp;&nbsp;&nbsp;<i
                            class="text-secondary fa fa-users"></i></div>
                    <div class="form-inline border-white mt-2">
                        <div class="card border-white col-sm-12 border-top-0">
                            <label>Situation Matrimoniale</label>
                            <select #situationMat="ngModel" [required]="true" name="situationmatrimoniale"
                                [(ngModel)]="etudiant.situationMatrimoniale" class="form-control">
                                <option disabled selected>Selectionner situation matrimoniale</option>
                                <option *ngFor="let situationMatrimoniale of situationMatrimoniales"
                                    [value]="situationMatrimoniale.value">{{situationMatrimoniale.label}}</option>
                            </select>
                            <app-form-field-validation-message [formField]="situationMat">
                            </app-form-field-validation-message>
                        </div>
                        <div *ngIf="etudiant.situationMatrimoniale=='M'"
                            class="card border-white col-sm-12 border-top-0">
                            <label for="Conjoint">Nom conjoint(e)</label>
                            <input #nomConjoint="ngModel" [required]="true" [(ngModel)]="etudiant.nomconjoint"
                                type="text" class="form-control" name="conjoint">
                            <app-form-field-validation-message [formField]="nomConjoint">
                            </app-form-field-validation-message>
                        </div>
                        <div class="card border-white bg-white col-sm-12">
                            <label for="nombreEnfant"> Nombre Enfant(s)</label>
                            <input [(ngModel)]="etudiant.nbreenfant" type="number"
                                class="form-control" name="nombreEnfant" id="nombreEnfant" min="0"
                                #nombreEnfant="ngModel">
                            <app-form-field-validation-message [formField]="nombreEnfant">
                            </app-form-field-validation-message>
                        </div>
                    </div>
                </div>
                <!-- end situation matrimoniale -->
                <!-- mon adresse à thies -->
                <div class="col-md-6">
                    <div class="card-header shadow p-3 mt-2"> Mon adresse à
                        Thiès&nbsp;&nbsp;&nbsp;<i class="text-secondary fa fa-map-marker"></i></div>

                    <div class="form-inline border-white mt-2">
                        <div class="card border-white col-sm-12 border-top-0">
                            <label>Type Habitation</label>
                            <select #nombreEnfant="ngModel" [required]="true" name="typeHabitation"
                                [(ngModel)]="etudiant.typeHabitation" class="form-control">
                                <option disabled selected> Selectionner une valeur</option>
                                <option *ngFor="let typeHabitation of typeHabitations" [value]="typeHabitation">
                                    {{typeHabitation}}</option>
                            </select>
                            <app-form-field-validation-message [formField]="nombreEnfant">
                            </app-form-field-validation-message>
                        </div>
                        <div *ngIf="etudiant.typeHabitation=='Campus Social'"
                            class="card border-white col-sm-12 border-top-0">
                            <label>Campus Social</label>
                            <select #campusSocial="ngModel" [required]="true" name="campusSocial"
                                [(ngModel)]="etudiant.campusSocial" class="form-control">
                                <option selected> Selectionner le campus</option>
                                <option *ngFor="let campusSocial of campusSociaux" [value]="campusSocial">
                                    {{campusSocial}}</option>
                            </select>
                            <app-form-field-validation-message [formField]="campusSocial">
                            </app-form-field-validation-message>
                        </div>
                        <div *ngIf="etudiant.typeHabitation=='Campus Social'"
                            class="card border-white col-sm-12 border-top-0">
                            <label>Numéro Chambre</label>
                            <input #numeroChambre="ngModel" [required]="true" [(ngModel)]="etudiant.numeroChambre"
                                type="number" class="form-control" name="numeroChambre">
                            <app-form-field-validation-message [formField]="numeroChambre">
                            </app-form-field-validation-message>
                        </div>
                        <div *ngIf="etudiant.typeHabitation && etudiant.typeHabitation!='Campus Social'"
                            class="card border-white col-sm-12 border-top-0">
                            <label>Quartier</label>
                            <input #quartierEtudiant="ngModel" [required]="true" [(ngModel)]="etudiant.quartierEtudiant"
                                type="text" class="form-control" name="quartierEtudiant">
                            <app-form-field-validation-message [formField]="quartierEtudiant">
                            </app-form-field-validation-message>
                        </div>
                    </div>
                </div>
                <!-- end mon adresse à thies -->

                <!-- residence parent -->
                <div class="col-md-6">
                    <div class="card-header shadow p-3 mt-3 border-white"> Résidence des parents ou des
                        tuteurs&nbsp;&nbsp;&nbsp;<i class="text-secondary fa fa-map-marker"></i></div>
                    <div class="form-inline border-white mt-2">
                        <div class="card border-white col-sm-12 border-top-0">
                            <label>Pays</label>
                            <select #adpays="ngModel" [required]="true" name="adpays" [(ngModel)]="etudiant.adpays.id"
                                class="form-control">
                                <option disabled selected> Pays d'adresse</option>
                                <option *ngFor="let pay of pays" [value]="pay.id">{{pay.nomFrFr}}</option>
                            </select>
                            <app-form-field-validation-message [formField]="adpays">
                            </app-form-field-validation-message>
                        </div>
                        <div class="card border-white col-sm-12 border-top-0">
                            <label>Ville</label>
                            <input #adville="ngModel" [required]="true" [(ngModel)]="etudiant.adville" type="text"
                                class="form-control" name="Ville">
                            <app-form-field-validation-message [formField]="adville">
                            </app-form-field-validation-message>
                        </div>
                        <div class="card border-white col-sm-12 border-top-0">
                            <label>Quartier</label>
                            <input #adquartier="ngModel" [required]="true" [(ngModel)]="etudiant.adquartier" type="text"
                                class="form-control" name="Quartier">
                            <app-form-field-validation-message [formField]="adquartier">
                            </app-form-field-validation-message>
                        </div>
                    </div>
                </div>
                <!-- end residence parent -->

                <!-- aides -->
                <div class="col-md-12">
                    <div class="card-header border-white shadow p-3 mt-3"> Aides&nbsp;&nbsp;&nbsp;<i
                            class="text-secondary fa fa-wheelchair"></i> </div>
                    <div class="form-inline border-white mt-2">
                        <!-- <div class="card border-white col-sm-12 col-md-6 border-top-0">
                            <label>Handicap</label>
                            <select #handicap="ngModel" [required]="true" name="handicap"
                                [(ngModel)]="etudiant.handicap" class="form-control">
                                <option disabled selected>Avez-vous un handicap ?</option>
                                <option *ngFor="let handicap of handicaps" [value]="handicap.value">
                                    {{handicap.label}}</option>
                            </select>
                            <app-form-field-validation-message [formField]="handicap">
                            </app-form-field-validation-message>
                        </div> -->
                        <!-- <div *ngIf="etudiant.handicap=='Oui'" class="card border-white col-sm-12 col-md-6 border-top-0">
                            <label>Type d'handicap</label>
                            <select #typeHandicap="ngModel" [required]="true" name="typeHandicap"
                                [(ngModel)]="etudiant.typeHandicap" class="form-control">
                                <option disabled selected>Selectionner type handicap</option>
                                <option *ngFor="let typeHandicap of typeHandicaps" [value]="typeHandicap.value">
                                    {{typeHandicap.label}}</option>
                            </select>
                            <app-form-field-validation-message [formField]="typeHandicap">
                            </app-form-field-validation-message>
                        </div>
                        <div *ngIf="etudiant.handicap=='Oui'" class="card border-white col-sm-12 col-md-6 border-top-0">
                            <label>Description handicap</label>
                            <textarea #description="ngModel" [required]="true" name="description"
                                [(ngModel)]="etudiant.descriptionHandicap" class="form-control"></textarea>
                            <app-form-field-validation-message [formField]="description">
                            </app-form-field-validation-message>
                        </div> -->
                        <div class="card border-white col-sm-12 col-md-6 border-top-0">
                            <label>Orphelin</label>
                            <select #orphelin="ngModel" [required]="true" name="orphelin"
                                [(ngModel)]="etudiant.orphelin" class="form-control">
                                <option disabled selected>Etes vous orphelin ?</option>
                                <option *ngFor="let orphelin of orphelins" [value]="orphelin.value">
                                    {{orphelin.label}}</option>
                            </select>
                            <app-form-field-validation-message [formField]="orphelin">
                            </app-form-field-validation-message>
                        </div>
                        <div class="card border-white col-sm-12 col-md-6 border-top-0" *ngIf="etudiant.orphelin=='Oui'">
                            <label for="typeOrphelin">Type
                                Orphelin</label><br>
                            <p-dropdown #typeOrphelin="ngModel" [required]="true" [style]="{'width':'100%'}"
                                [options]="typeOrphelins" [(ngModel)]="etudiant.typeOrphelin"
                                placeholder="Selectionner type orphelin" optionLabel="libelle" [showClear]="true"
                                name="typeOrphelin" id="typeOrphelin">
                            </p-dropdown>
                            <app-form-field-validation-message [formField]="typeOrphelin">
                            </app-form-field-validation-message>
                        </div>
                    </div>
                </div>
                <!-- end aides -->

                <!-- personne contact -->
                <div class="col-md-12">
                    <div class="card-header shadow p-3 mt-3"> Personne Contact &nbsp;&nbsp;&nbsp;<i
                            class=" text-secondary fa fa-user"></i></div>
                    <div class="form-inline border-white mt-2">
                        <div class="card border-white col-sm-12 col-md-6 border-top-0">
                            <label>Prénoms & Nom</label>
                            <input #nomcontact="ngModel" [required]="true" [(ngModel)]="etudiant.nomcontact" type="tel"
                                class="form-control" name="nomContact">
                            <app-form-field-validation-message [formField]="nomcontact">
                            </app-form-field-validation-message>
                        </div>
                        <div class="card border-white col-sm-12 col-md-6 border-top-0">
                            <label>Telephone</label>
                            <input #telcontact="ngModel" [required]="true" [(ngModel)]="etudiant.telcontact" type="tel"
                                class="form-control" name="telContact">
                            <app-form-field-validation-message [formField]="telcontact">
                            </app-form-field-validation-message>
                        </div>
                    </div>
                </div>
                <!-- end personne contact -->
            </div>
            <!-- end form content -->
        </div>
        <div class="card-footer">
            <button [disabled]="etudiantForm.invalid" type="submit" class="btn btn-outline-primary pull-right">Mettre
                à jour & Continuer</button>
        </div>
    </div>
</form>