<p-toast></p-toast>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-sd-12">
            <div class="card">
                <div class="card-header">
                    <marquee><p class="card-text"><span style="color : blue;"><H4>PREINSCRIPTION EN LIGNE</H4> </span></p></marquee> 
                </div>
                 <!-- <img class="card-img-top" src="/assets/img/web_onlinereg.png" alt="inscription_ut" style="height: 200px;">-->
                <div class="card-body">
                   <div class="row">
                       <div class="col-xs-12 col-sm-12 col-md-6">
                                <div class="card">
                                    <img style="border-radius: 50%;margin-left: 5px;" width="150" height="150" src="/assets/img/logo_ut.jpg"
                                    alt="logo_ut">
                                    <div class="card-body">
                                       <H4 class="card-title"><p>Université de Thiès<br></H4>
                                        <div class="alert alert-primary" role="alert">
                                            <span style="color: black;">Merci de prendre le temps de bien lire cette partie.</span>
                                        </div>
                                       <p class="card-text">Bienvenue sur la plateforme de préinscription en ligne ! <br>
                                        Pour l'année en cours, la "Préinscription en ligne" est obligatoire pour tous les étudiants de l'UT.
                                        Il faut d’abord vous préinscrire sur cette plateforme  pour obtenir votre carte d’étudiant</p>
                                    </div>
                                </div>
                       </div>
                       <div class="col-xs-12 col-sm-12 col-md-6">
                            <div class="card">
                                <div class="card-header" style=" text-align: center;"><strong> Spet - Connexion</strong></div>
                                <div class="card-body">
                                    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="text-left mt-2" style="overflow-y: auto;">
                                        <div class="form-group">
                                            <label for="username">Adresse email institutionnelle</label>
                                            <input [formControl]="username" class="form-control validation-field" placeholder="Email"
                                                type="text" id="username" name="username">
                                            <small class="text-danger"
                                                *ngIf="form.get('username').touched && form.get('username').hasError('required')">Email
                                                obligatoire</small>
                                            <small class="text-danger"
                                                *ngIf="form.get('username').touched && form.get('username').hasError('username')">Adresse
                                                email invalide</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Mot de passe</label>
                                            <input [formControl]="password" class="form-control validation-field" placeholder="Mot de passe"
                                                type="password" id="password" name="password">
                                            <small class="text-danger"
                                                *ngIf="form.get('password').touched && form.get('password').hasError('required')">Mot de
                                                passe obligatoire</small>
                                            <small class="text-danger"
                                                *ngIf="form.get('password').touched && form.get('password').hasError('minlength')">Mot de
                                                passe court, 6 caracteres au minimum</small>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="login-checkbox"
                                                    name="login-checkbox">
                                                <label class="custom-control-label" for="login-checkbox">Se souvenir de moi.</label>
                                            </div>
                                            <button id="connectionButton" [disabled]="!form.valid" class="btn btn-block" type="submit">Se
                                                connecter</button>
                                        </div>
                                        <div class="form-group d-flex justify-content-between">
                                            <a class="transition pull-right" [routerLink]="['/forgotpassword']"
                                                routerLinkActive="router-link-active">Mot de passe oublié ?</a>
                                        </div>
                                        
                                    </form>
                                </div> 
                                <div class="card-footer">
                                    <span>
                                        <div class="">
                                            <a id="" class="btn btn-success btn-block transition mb-1" routerLink="/register">Inscription</a>
                                            <a id="" class="btn btn-primary btn-block transition" routerLink="/register/preconfirm-etudiant">Je suis nouveau à l'UT, obtenir mon numéro de dossier</a>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                   </div>
                </div>
                <div class="card-footer" style=" text-align: center;">
                    <span style="font-size:25px;" class="z-span">
                    <span style="font-size:15px;" class="z-label"> © Université Thiès/DSI</span></span>
                </div>
            </div>
        </div>
    </div>
</div>