<p-toast></p-toast>
<div class="d-flex justify-content-center align-items-center w-100 h-100 register-container">
    <div class="col-xl-4 col-md-6 col-10">
        <div  *ngIf="verified" class="card border-0 box-shadow rounded-0">
            <div class="card-header d-flex justify-content-center align-items-center border-0 box-shadow">
                <!-- <i class="fa fa-registered" aria-hidden="true"></i> -->
                <img style="border-radius: 50%;margin-left: 5px;" width="150" height="150"  src="/assets/img/logo_ut.jpg" alt="logo_ut">
            </div>
            <div class="card-body text-center pb-1">
                <h2>Spet - Changement de mot de passe</h2>
                <h3>Bonjour {{user.prenom}} {{ user.nom }}</h3>
                <a routerLink="/login" class="transition">Vous vous rappelez du mot de passe ? Connectez vous !</a>

                <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="text-left mt-4">
                    <div class="form-group">
                        <input  pPassword promptLabel="Saisir un mot de passe" weakLabel="Mot de passe faible" mediumLabel="Mot de passe moyen" strongLabel="Mot de passe robuste" [formControl]="password" class="form-control validation-field" placeholder="Mot de passe" type="password" minlength="8" name="newpassword" id="newpassword">
                         <small class="text-danger" *ngIf="form.get('password').touched">
                            <span *ngIf="form.get('password').hasError('required')">Le mot de passe est obligatoire</span>
                            <span *ngIf="form.get('password').hasError('minlength')">Le mot de passe est court, 8 caractères minimum exigés</span>
                        </small>                     
                    </div>
                    <div class="form-group">
                        <input pPassword promptLabel="Confirmer le mot de passe" [formControl]="confirmPassword" class="form-control validation-field" placeholder="Confirmation mot de passe" type="password" name="confirmPassword" id="confirmPassword">
                        <small class="text-danger" *ngIf="form.get('confirmPassword').touched">
                            <span *ngIf="form.get('confirmPassword').hasError('required')">La confirmation du mot de passe est obligatoire</span>
                            <span *ngIf="form.get('confirmPassword').hasError('mismatchedPasswords')">Les mots de passe ne correspondent pas.</span>
                        </small> 
                    </div>           
                    <div class="form-group">
                        <button id="changePasswordBtn" [disabled]="!form.valid" class="btn btn-block" type="submit">Mettre à jour le mot de passe</button>
                    </div>
                </form>  
            </div>
        </div>
    </div>
</div>