<div class="container" *ngIf="isLaoder">
    <div class="row">
        <div class="col-12">
            <img src="/assets/img/loader-photo.gif" alt="">
        </div>
    </div>
</div>
<div class="container" *ngIf="!isLaoder">
    <div class="row" style="margin-top: 5%;">
        <div class="col-12 col-md-6" *ngIf="etudiant?.photoLink">
            <img [src]="etudiant?.photoLink" alt="Photo de l'étudiant">
        </div>
        <div class="text-center col-12 col-md-6">
            <input type="file" (change)="fileChangeEvent($event)" />
        </div>
    </div>
    <div class="row" style="margin-top: 5%;">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <blockquote class="blockquote">
                        <p>Après avoir selectionné la photo, merci de la rédimentionner
                            en sélectionnant les deux épaules et le dessus de la tête. <br>
                            Le fond de la photo doit être homogène (couleur unie) et la photo doit être prise de face
                            comme une photo d'identité.
                        </p>
                        <footer class="card-blockquote text-danger"><cite title="Source title">Ces spécifications
                                doivent obligatoirement être respectées.</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="text-center col-md-8">
            <h5>Redimension de la photo</h5>
            <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 4"
                [resizeToWidth]="256" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
        </div>
        <div class="text-center col-md-4">
            <h5>Prévisualisation</h5>
            <img [src]="croppedImage" />
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-3">
            <button class="btn btn-primary pull-left" (click)="goToPrevious()">
                <i class="fa fa-chevron-left arrow"></i>
                &nbsp; Etape précedente
            </button>
            <button type="button" class="btn btn-outline-primary pull-right" (click)="uploadPhoto()">Mettre à jour la
                photo</button>
        </div>
    </div>
</div>