<div class="card">
    <div class="card-body">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-link" aria-hidden="true"> </i>
                Services électroniques aux étudiants
            </div>
            <div class="card-body">
                <div class="card card-responsive-sm">
                    <div class="list-group">
                        <a href="http://mail.univ-thies.sn/" target='_blank'
                            class="list-group-item list-group-item-action">
                            <i class="pi pi-external-link" style="font-size: 18px;"></i>
                            Accéder à votre boîte mail institutionnelle
                        </a>
                        <a href="http://www.scholarvox.com/" target='_blank'
                            class="list-group-item list-group-item-action">
                            <i class="pi pi-external-link" style="font-size: 18px;"></i>
                            Accéder à la bibliothèque numérique LMD
                        </a>
                        <a href="http://fad.univ-thies.sn/" target='_blank'
                            class="list-group-item list-group-item-action">
                            <i class="pi pi-external-link" style="font-size: 18px;"></i>
                            Accéder à la
                            plateforme de formation à distance</a>
                        <a href="https://www.univ-thies.sn/" target='_blank'
                            class="list-group-item list-group-item-action">
                            <i class="pi pi-external-link" style="font-size: 18px;"></i>
                            Accéder au site
                            officiel de l'Université</a>
                        <a href="https://bibliotheque.univ-thies.sn/" target='_blank'
                            class="list-group-item list-group-item-action">
                            <i class="pi pi-external-link" style="font-size: 18px;"></i>
                            Accéder à la
                            bibliothèque numérique Universitaire</a>
                        <a href="http://support.univ-thies.sn/" target='_blank'
                            class="list-group-item list-group-item-action">
                            <i class="pi pi-external-link" style="font-size: 18px;"></i>
                            Support IT de la
                            DSI de l'Université</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>