body {
    margin-top: 20px;
    background: #eee;
}

.profile-widget {
    position: relative;
}
.profile-widget .image-container {
    background-size: cover;
    background-position: center;
    padding: 190px 0 10px;
}
.profile-widget .image-container .profile-background {
    width: 100%;
    height: auto;
}
.profile-widget .image-container .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto -60px;
    display: block;
}
.profile-widget .details {
    padding: 50px 15px 15px;
    text-align: center;
}



/* Component: Panel */
.panel {
    border-radius: 0;
    margin-bottom: 30px;
}
.panel .panel-body {
    font-size: 13px;
}
.panel .panel-body > .body-section {
    margin: 0px 0px 20px;
}
.card .card-body > .section-heading {
    margin: 0px 0px 5px;
    font-weight: bold;
}
.card .card-body > .section-content {
    margin: 0px 0px 10px;
}
.panel-white {
    border: 1px solid #dddddd;
    background-color: white;
}
.panel-white > .panel-heading {
    color: #333;
    background-color: white;
    border-color: #ddd;
}
.panel-white > .panel-footer {
    background-color: #fff;
    border-color: #ddd;
}

.color-red,
.text-danger {
    color: #d40d12 !important;
}
.color-light-red {
    color: #ff1d23 !important;
}

.border-bottom-dark {
    border-bottom: 4px solid #23272b !important;
}

.bg2 {
    background-image: url("https://ww2.kqed.org/app/uploads/sites/43/2019/08/open-book-with-library-bookshelf-toned-background-picture-id1165510711-800x450.jpg");
}

.btn-red {
    background-color: #dd1b16;
    border-color: #d40d12;
    color: white;
}
.btn-red:hover,
.btn-red:visited {
    background-color: #d40d12;
    color: white;
}



@media (max-width: 414px) {
    .btn-red {
        background-color: #ff1d23;
        border-color: #d40d12;
        color: white;
        margin-top: 5px;
    }
}

.card-header-color {
    background-color: #ececec;
    color: black;
}

.image-container .file {
    position: relative;
    overflow: hidden;
    //margin-top: -20%;
    left: 250px;
    width: 25%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
    margin: auto;
}
.image-container .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}


//image uploader
$theme : #D43735;
$dark-text : #5f6982;


h2 {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    line-height: 1;
    color: $theme;
    margin-bottom: 0;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: $dark-text;
}

// Upload Demo
// 
.uploader {
    display: block;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    label {
        float: left;
        clear: both;
        width: 100%;
        padding: 2rem 1.5rem;
        text-align: center;
        background: #fff;
        border-radius: 7px;
        border: 3px solid #eee;
        transition: all .2s ease;
        user-select: none;
        &:hover {
            border-color: $theme;
        }
        &.hover {
            border: 3px solid $theme;
            box-shadow: inset 0 0 0 6px #eee;
            #start {
                i.fa {
                    transform: scale(0.8);
                    opacity: 0.3;
                }
            }
        }
    }
    
    #file-image {
        display: inline;
        margin: 0 auto .5rem auto;
        width: auto;
        height: auto;
        max-width: 180px;
        &.hidden {
            display: none;
        }
    }
    #notimage {
        display: block;
        float: left;
        clear: both;
        width: 100%;
        &.hidden {
            display: none;
        }
    }
    input[type="file"] {
        display: none;
    }
    div {
        margin: 0 0 .5rem 0;
        color: $dark-text;
    }
    .btn {
        display: inline-block;
        margin: .5rem .5rem 1rem .5rem;
        clear: both;
        font-family: inherit;
        font-weight: 700;
        font-size: 14px;
        text-decoration: none;
        text-transform: initial;
        border: none;
        border-radius: .2rem;
        outline: none;
        padding: 0 1rem;
        height: 36px;
        line-height: 36px;
        color: #fff;
        transition: all 0.2s ease-in-out;
        box-sizing: border-box;
        background: $theme;
        border-color: $theme;
        cursor: pointer;
    }
}