<p-toast></p-toast>
<div class="d-flex justify-content-center align-items-center w-100 h-100 register-container">
    <div class="col-xl-10 col-md-10 col-12">
        <div class="card border-0 box-shadow rounded-0">
            <div class="card-header d-flex justify-content-center align-items-center border-0 box-shadow">
                <!-- <i class="fa fa-registered" aria-hidden="true"></i> -->
                <img style="border-radius: 50%;margin-left: 5px;" width="150" height="150" src="/assets/img/logo_ut.jpg"
                    alt="logo_ut">
            </div>
            <div class="card-body text-center pb-1">
                <h2>Spet - Inscription</h2>
                <form #form="ngForm" class="text-left mt-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="">Prénom</label>
                                <input class="form-control validation-field" type="text" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="">Nom</label>
                                <input class="form-control validation-field" type="text" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="">Genre</label>
                                <input class="form-control validation-field" type="text" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="">Date Naissance</label>
                                <input class="form-control validation-field" type="text" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="">Lieu Naissance</label>
                                <input class="form-control validation-field" type="text" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="">Nationalité</label>
                                <input class="form-control validation-field" type="text" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="">Pays de résidence</label>
                                <input class="form-control validation-field" type="text" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="">Région de Naissance</label>
                                <input class="form-control validation-field" type="text" name="" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Lycée de provenance</label>
                            <input class="form-control validation-field" type="text" name="" placeholder="">
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="">Année Obtention BAC</label>
                                <input class="form-control validation-field" type="text" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="">Série BAC</label>
                                <input class="form-control validation-field" type="text" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="">Moyenne BAC</label>
                                <input class="form-control validation-field" type="text" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="">Mention BAC</label>
                                <input class="form-control validation-field" type="text" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="">Groupe Passage</label>
                                <input class="form-control validation-field" type="text" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="">Situation Matrimoniale</label>
                                <input class="form-control validation-field" type="text" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="">Nombre d'enfants</label>
                                <input class="form-control validation-field" type="text" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="">Handicap</label>
                                <input class="form-control validation-field" type="text" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="">Type Handidcap</label>
                                <input class="form-control validation-field" type="text" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="">Description Handicap</label>
                                <input class="form-control validation-field" type="text" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="">Orphelin</label>
                                <input class="form-control validation-field" type="text" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="">Type Orphelin</label>
                                <input class="form-control validation-field" type="text" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="">Téléphone Primaire</label>
                                <input class="form-control validation-field" type="text" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="">Téléphone Sécondaire</label>
                                <input class="form-control validation-field" type="text" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="">Adresse Email Personnelle</label>
                                <input class="form-control validation-field" type="text" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="">Prénoms & Nom Personne Contact</label>
                                <input class="form-control validation-field" type="text" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="">Téléphone Personne Contact</label>
                                <input class="form-control validation-field" type="text" name="" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button id="registerBtn" [disabled]="!form.valid" class="btn btn-block" type="submit">Continuer
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>