<p-toast></p-toast>
<p-fieldset *ngIf="'ReclamationBourse'|showable" legend="Affichage des informations - Utilisateur" [toggleable]="true">
  <p-toolbar>
    <button *ngIf="'ReclamationBourse'|editable" type="button" class="btn btn-outline-warning pull-right ml-1"
      [routerLink]="['/'+reclamation_bourseSrv.getRoutePrefix(),reclamation_bourse.id,'edit']"><i class="fa fa-pencil-square-o ml-1"></i>
      Modifier</button>
    <button *ngIf="'ReclamationBourse'|clonable" [routerLink]="['/'+reclamation_bourseSrv.getRoutePrefix(),reclamation_bourse.id,'clone']" type="button"
      class="btn btn-outline-secondary pull-right ml-1">
      <i class="fa fa-clone" aria-hidden="true"></i> Cloner
    </button>
    <button *ngIf="'ReclamationBourse'|deletable" type="button" class="btn btn-outline-danger pull-right ml-1" (click)="removeReclamationBourse()"><i
        class="fa fa-trash-o"></i> Supprimer</button>
    <button type="button" class="btn btn-outline-secondary pull-left ml-1" (click)="location.back()"><i
        class="fa fa-reply"></i> Retour</button>
  </p-toolbar>
  <p-tabView>
    <p-tabPanel header="Détails">
      <p-fieldset [legend]="reclamation_bourse.id">
        <table class="table">
                                    <tr>
                <th>Date</th>
                <td>{{ reclamation_bourse.date ? reclamation_bourse.date|date('Y-m-d') : '' }}</td>
            </tr>
                                    <tr>
                <th>Objet</th>
                <td>{{ reclamation_bourse.objet }}</td>
            </tr>
                                    <tr>
                <th>Message</th>
                <td>{{ reclamation_bourse.message }}</td>
            </tr>
                    </table>
        <p-toolbar>
          <button *ngIf="'ReclamationBourse'|editable" type="button" class="btn btn-outline-warning pull-right ml-1"
            [routerLink]="['/'+reclamation_bourseSrv.getRoutePrefix(),reclamation_bourse.id,'edit']"><i class="fa fa-pencil-square-o ml-1"></i>
            Modifier</button>
          <button *ngIf="'ReclamationBourse'|clonable" [routerLink]="['/'+reclamation_bourseSrv.getRoutePrefix(),reclamation_bourse.id,'clone']" type="button"
            class="btn btn-outline-secondary pull-right ml-1">
            <i class="fa fa-clone" aria-hidden="true"></i> Cloner
          </button>
          <button *ngIf="'ReclamationBourse'|deletable" type="button" class="btn btn-outline-danger pull-right ml-1" (click)="removeReclamationBourse()"><i
              class="fa fa-trash-o"></i> Supprimer</button>
          <button type="button" class="btn btn-outline-secondary pull-left ml-1" (click)="location.back()"><i
              class="fa fa-reply"></i> Retour</button>
          <button *ngIf="'ReclamationBourse'|showable" type="button" class="btn btn-secondary ml-1" (click)="refresh()">
              <i class="fa fa-refresh" aria-hidden="true"></i> Raffraichir les données
          </button>
        </p-toolbar>
      </p-fieldset>
    </p-tabPanel>
    <p-tabPanel header="Liste associée">
      
    </p-tabPanel>
  </p-tabView>
</p-fieldset>
