<p-toast></p-toast>
<p-fieldset legend="Détails Reclamation - N° {{reclamationBourse.id}}" [toggleable]="true">
    <p-toolbar>
        <button type="button" class="btn btn-outline-secondary pull-left ml-1" (click)="location.back()"><i
                class="fa fa-reply"></i> Retour
        </button>
    </p-toolbar>
    <p-fieldset [legend]="reclamationBourse.objet">
        <table class="table">
            <tr>
                <th>Date</th>
                <td>Le {{ reclamationBourse.date | date: 'dd MMM, yyyy' }}</td>
            </tr>
            <tr>
                <th>Objet</th>
                <td>{{ reclamationBourse.objet }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>
                    <div [innerHTML]="reclamationBourse.message"></div>
                </td>
            </tr>
            <tr>
                <th>Etat Actuel</th>
                <td><span class="badge"
                        [ngStyle]="{'backgroundColor': reclamationBourse.etatActuel.codeCouleur}">
                        {{ reclamationBourse.etatActuel.libelle}}</span> </td>
            </tr>
            <tr *ngIf="reclamationBourse?.bourseEtudiant">
                <th>Bourse ayant fait l'objet de réclamation</th>
                <td>{{reclamationBourse?.bourseEtudiant?.mois+' '+reclamationBourse?.bourseEtudiant?.annee}}</td>
            </tr>
        </table>
    </p-fieldset>
    <p-fieldset [legend]="'Historique des états'">
        <ng-container *ngFor="let hed of historiqueEtats; let i = index">
            <div class="card my-1" [ngStyle]="{'boxShadow': '0 2px 4px ' + hed.etat.codeCouleur}">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12"><span class="font-weight-bold text-uppercase">État:
                            </span><span class="badge"
                                [ngStyle]="{backgroundColor: hed.etat.codeCouleur}">{{ hed.etat.libelle }}</span>
                        </div>
                        <div class="col-md-6 col-sm-12"><span class="font-weight-bold text-uppercase">Depuis le: </span>
                            <span class="text-capitalize"> {{hed.date | date: 'dd MMM, yyyy'}}</span></div>
                    </div>
                </div>
            </div> <!-- End of card -->
            <div *ngIf=" i >= 0 && historiqueEtats[i+1] " class="my-2"
                title="{{historiqueEtats.length-i-1 === 1 ? 'État initial': 'État précédent'}}"
                style="font-size: 1.5em" [ngStyle]="{color: colors[i]}">{{historiqueEtats.length - i - 1}}
                <i class="fa fa-long-arrow-down"></i>
            </div>
        </ng-container>
    </p-fieldset>
</p-fieldset>