<div class="container main-content">
    <div class="row mb-4">
        <div class="col-6 align-items-center">
            <div class="card border-0 box-shadow">
                <div class="card-header transparent border-0">
                    <h3><b>Generer un paiement temporaire</b></h3>
                    <hr>
                </div>
                <div class="card-body pt-0 widget-body border-1">
                    <div class="col">
                        <div class="table-responsive">
                            <div class="alert alert-primary" role="alert">
                                <p>Le montant restant a payé est <b>20000 FCFA.</b>
                                </p>
                            </div>
                            <table class="table table-bordered  table-hover">
                                <tbody>
                                    <tr>
                                        <th scope="row">Nombre de tranches</th>
                                        <td>
                                            <div class="justify-content-center">
                                                <p-dropdown [options]="cities" [(ngModel)]="selectedCity"
                                                    placeholder="Choisir le nombre de tranches" [editable]="true"
                                                    optionLabel="name"></p-dropdown>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Montant</th>
                                        <td>
                                            <input type="text" class="form-control" id="username" [(ngModel)]="value"
                                                disabled>
                                        </td>
                                    </tr>
                                    <div>
                                        <button type="submit" class="btn btn-primary mt-3">Valider</button>
                                    </div>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>