<div class="card">
    <img class="card-img-top" height="300px" src="/assets/img/licence-master-doctorat-850x478.jpg" alt="lmd">
    <div class="card-body">
        <h4 class="card-title">Le système LMD</h4>
        <p class="card-text">
            La réforme LMD (pour « Licence-Master-Doctorat ») désigne un ensemble de mesures modifiant le système
            d’enseignement supérieur pour l’adapter aux standards internationaux.
        </p>
        <p class="card-text">
            Elle met en place principalement une architecture basée sur trois grades : licence, master et doctorat; une
            organisation des enseignements en semestres et unités d’enseignement; la mise en œuvre des crédits et par la
            délivrance d’une annexe descriptive au diplôme.
            Les textes fondateurs de cette réforme sont parus en 2002, mais celle-ci s’est étalée sur plusieurs années,
            et en 2011 certaines formations sont encore en train d’être modifiées.
        </p>


        <!-- accordion start -->

        <div id="accordion">
            <div class="card">
                <div class="card-header" id="objectifs">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#objectifs"
                            aria-expanded="true" aria-controls="objectifs">
                            Objectifs
                        </button>
                    </h5>
                </div>
                <div id="objectifs" class="collapse show" aria-labelledby="objectfis" data-parent="#accordion">
                    <div class="card-body">
                        Les objectifs de l’enseignement supérieur sont :
                        <ul class="list-unstyled">
                            <li>
                                - l’organisation de l’offre de formation sous la forme de « parcours types de
                                formation »,
                                ensembles cohérents d’unités d’enseignement organisant des progressions pédagogiques
                                adaptées, préparant l’ensemble des diplômes nationaux;
                            </li>
                            <li>
                                - l’intégration, en tant que de besoin, des approches pluridisciplinaires et la
                                facilitation
                                de l’amélioration de la qualité pédagogique, de l’information, de l’orientation et
                                de
                                l’accompagnement de l’étudiant;
                            </li>
                            <li>
                                - le développement de la professionnalisation des études supérieures, la réponse aux
                                besoins
                                de formation continue diplômante et la favorisation de la validation des acquis de
                                l’expérience, en relation avec les milieux économiques et sociaux;
                            </li>
                            <li>
                                - l’encouragement à la mobilité, l’accroissement de l’attractivité des formations, au
                                niveau
                                national et international, et la possibilité de la prise en compte et de la
                                validation des
                                périodes de formation;
                            </li>
                            <li>
                                - l’intégration de l’apprentissage de « compétences transversales » telles que la
                                maîtrise
                                des langues vivantes étrangères et celle des outils informatiques;
                            </li>
                            <li>
                                - la facilitation de la création d’enseignements par des méthodes faisant appel aux
                                technologies de l’information et de la communication et du développement de
                                l’enseignement à
                                distance.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="grades">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#grades"
                            aria-expanded="false" aria-controls="grades">
                            Les grades
                        </button>
                    </h5>
                </div>
                <div id="grades" class="collapse" aria-labelledby="grades" data-parent="#accordion">
                    <div class="card-body">
                        <p>
                            Abandonnant l’ancienne organisation en trois cycles universitaires de deux ans chacun (DEUG,
                            Licence et Troisième cycle: DESA, DESS) et d’un Doctorat d’Etat, le système LMD reconnaît
                            trois diplômes et grades nationaux:
                        </p>
                        <ul class="list-unstyled">
                            <li>
                                – Licence (L) : diplôme de niveau bac+3 (soit fondamentale, soit professionnelle)

                            </li>
                            <li>
                                – Master (M) : diplôme de niveau bac+5 (soit fondamental préparant à la recherche, soit
                                spécialisé)
                            </li>
                            <li>
                                – Doctorat (D) : diplôme de niveau bac+8 sanctionnant un travail de recherche dans le
                                cadre
                                d’une thèse.
                            </li>
                        </ul>
                        <p>A noter que parallèlement à ces trois diplômes dits nationaux, les établissements
                            d’enseignement supérieur peuvent délivrer des diplômes spécifiques dits d’université ou
                            d’établissement qui correspondent à un domaine restreint, à vocation temporaire ou
                            professionnelle. Le mode d’accès, la durée des études, le mode d’évaluation peuvent être
                            très différents d’un établissement à l’autre.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="uecredit">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#uecredit"
                            aria-expanded="false" aria-controls="uecredit">
                            Les unités d’enseignement et les crédits
                        </button>
                    </h5>
                </div>
                <div id="uecredit" class="collapse" aria-labelledby="uecredit" data-parent="#accordion">
                    <div class="card-body">
                        <p>
                            Les parcours de formations sont découpés en « unités d’enseignement ». Chacune a une valeur
                            définie en crédits. Le nombre de crédits par unité d’enseignement est défini sur la base de
                            la « charge totale de travail requise de la part de l’étudiant pour obtenir l’unité ». La
                            charge totale de travail tient compte de l’ensemble de l’activité exigée de l’étudiant et,
                            notamment, du volume et de la nature des enseignements dispensés, du travail personnel
                            requis, des stages, mémoires, projets et autres activités.
                        </p>
                        <p>
                            Afin d’assurer la « comparaison » et le « transfert » des parcours de formation au niveau
                            international, une référence commune est fixée correspondant à l’acquisition, après le
                            baccalauréat, de 180 crédits pour le niveau licence et de 300 crédits pour le niveau master.
                            Cette référence permet de définir la valeur en crédits de l’ensemble des diplômes. Les
                            crédits sont obtenus lorsque les conditions de validation définies par les modalités de
                            contrôle de connaissances et aptitudes propres à chaque type d’études sont satisfaites.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="annexe">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#annexe"
                            aria-expanded="false" aria-controls="annexe">
                            L’annexe descipriptive
                        </button>
                    </h5>
                </div>
                <div id="annexe" class="collapse" aria-labelledby="" data-parent="#accordion">
                    <div class="card-body">
                        <p class="card-text">
                            Ce système de crédit est accompagné de la délivrance d’une annexe descriptive aux diplômes.
                        </p>
                        <p>
                            L’annexe descriptive est le supplément au diplôme, c’est–à-dire un document joint à un
                            diplôme d’études supérieures qui vise à améliorer la « transparence » internationale et à
                            faciliter la reconnaissance académique et professionnelle des qualifications (diplômes,
                            acquis universitaires etc..). Il est destiné à décrire la nature, le niveau, le contexte, le
                            contenu et le statut des études accomplies avec succès par l’étudiant.
                        </p>
                        <p>
                            En clair, le supplément au diplôme (annexe descriptive) n’est pas un curriculum vitae, ni un
                            relevé de notes mais une description précise du cursus de l’étudiant et des compétences
                            acquises pendant la période d’études.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="dispositif">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#dispositif"
                            aria-expanded="false" aria-controls="dispositif">
                            Un dispositif d’accompagnement et d’evaluation
                        </button>
                    </h5>
                </div>
                <div id="dispositif" class="collapse" aria-labelledby="dispositif" data-parent="#accordion">
                    <div class="card-body">
                        <p class="card-text">
                            L’étudiant bénéficiera d’un accompagnement pédagogique tout au long de son parcours pour
                            l’aider à définir ses objectifs de formation et à les mettre en œuvre.
                        </p>
                        <p>
                            Ainsi, l’étudiant pourra construire son parcours de formation et son projet professionnel
                            sur la base de parcours type. Il pourra le modifier ou le faire évoluer par le choix
                            d’options. Des passerelles existeront entre les différents parcours, c’est-à-dire il y aura
                            possibilité pour l’étudiant d’évoluer dans ses choix ou de se réorienter d’une filière vers
                            une autre ou d’un domaine vers un autre tout en conservant les acquis des parcours
                            antérieurs.
                        </p>
                        <p>
                            En outre, il y aura un système d’évaluation semestriel (un examen à la fin de chaque
                            semestre) et pour chaque Unité d’Enseignement, il est prévu un examen final, en plus des
                            contrôles continus, des contrôles de TD, de TP, de l’évaluation du travail personnel, des
                            travaux de recherche, des exposés, des interrogations orales ou écrites etc.
                        </p>
                        <p>
                            Enfin, un examen de la deuxième chance (double session) sera accordé à l’étudiant n’ayant
                            pas obtenu une moyenne supérieure ou égal à 10/20.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="licence">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#licence"
                            aria-expanded="false" aria-controls="licence">
                            Organisation du parcours de la licence
                        </button>
                    </h5>
                </div>
                <div id="licence" class="collapse" aria-labelledby="licence" data-parent="#accordion">
                    <div class="card-body">
                        <p class="card-text">
                            Dans le cadre du L.M.D, la licence sanctionne un parcours cohérent de formation sur 6
                            semestres, c’est-à-dire un parcours qui s’étale sur 3 années. L’obtention du diplôme de
                            licence est validée pour 180 crédits.
                        </p>
                        <p>
                            Le cursus de la licence est constitué d’un ensemble cohérent d’Unités d’Enseignant (UE)
                            articulées selon une logique de progression, d’orientation puis de spécialisation, prenant
                            en compte la diversité des publics et leurs besoins et le projet professionnel et personnel
                            de l’étudiant.
                        </p>
                        <p>
                            Il y a deux types de licences :
                        </p>
                        <ul class="list-unstyled">
                            <li>
                                – Une licence à option dite « professionnalisante » consacrée par un diplôme de licence
                                permettant une insertion directe dans le monde de l’emploi ; cette licence est destinée
                                à ceux qui veulent faire une courte formation.
                            </li>
                            <li>
                                – Une licence « académique » consacrée par un diplôme de licence permettant un accès
                                direct à des études universitaires plus longues et plus spécialisées « Master »
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="master">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#master"
                            aria-expanded="false" aria-controls="master">
                            Organisation du parcours du Master
                        </button>
                    </h5>
                </div>
                <div id="master" class="collapse" aria-labelledby="master" data-parent="#accordion">
                    <div class="card-body">
                        <p class="card-text">
                            Le Master est le deuxième diplôme ou grade du cycle d’enseignement supérieur conduisant aux
                            études doctorales ou à une activité professionnelle de haut niveau.
                        </p>
                        <p>
                            L’accès au Master se fait après obtention du grade de licence. Il est donc accessible à tout
                            étudiant détenteur d’une licence « académique ».
                        </p>
                        <p>
                            Le parcours de formation au sein d’un Master est conçu comme un ensemble cohérent et continu
                            de 4 semestres. Les deux premiers semestres (60 crédits) doivent permettre une progression
                            maîtrisée vers une formation à la recherche ou une spécialisation professionnelle lors des
                            deux derniers semestres (60 crédits).
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="doctorat">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#doctorat"
                            aria-expanded="false" aria-controls="doctorat">
                            Le Doctorat
                        </button>
                    </h5>
                </div>
                <div id="doctorat" class="collapse" aria-labelledby="doctorat" data-parent="#accordion">
                    <div class="card-body">
                        <p class="card-text">
                            La formation doctorale d’une durée minimale de trois (03) années devra assurer à la fois un
                            approfondissement des connaissances dans la spécialité et une formation par et pour la
                            recherche. Cette formation est sanctionnée par un diplôme de Doctorat après soutenance d’une
                            thèse devant un jury habilité.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- accordion end -->


    </div>
</div>