<div class="row">
    <div class="col-12">
        <div class="card text-left">
            <div class="row">
                <div class="col-2 mt-4 d-none d-sm-block text-center">
                    <img src="assets/img/info-logo.jpg" class="img-fluid" style="height:auto;" alt="actualité">
                </div>
                <div class="col-10 col-xs-12">
                    <div class="card-body">
                        <h4 class="card-title">{{ articlePublie.titre }}</h4>
                        <p class="card-text" [innerHTML]="articlePublie.contenu">{{ articlePublie.contenu }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
