<div class="row">
    <div class="col-12">
        <div class="card text-left">
            <div class="card-body">
                <div class="table-responsive" *ngIf="paiementFraisEncadrememntsLength">
                    <p-table #tt [value]="paiementFraisEncadrememnts" [paginator]="true" [rows]="50" sortMode="multiple"
                             [resizableColumns]="true" [responsive]="true" [scrollable]="true" scrollHeight="400px"
                             [globalFilterFields]="globalFilterFields" dataKey="id">
                        <ng-template pTemplate="caption">
                            Liste des paiements
                            <br>
                            <br>
                            <span class="badge badge-success" style="font-size: 14px;">
                                        {{ montantTotalPaye | currency:'F CFA':'code':'3.2-2':'fr' }}
                                    </span> /
                            <span class="badge badge-secondary" style="font-size: 14px;">
                                        {{inscriptionacad?.idclasse?.idfiliere?.paramFraisEncadrement?.fraisAnnuel | currency:'F CFA':'code':'3.2-2':'fr'  || 'INCONNU'}}
                                    </span>
                            <br>
                            <br>
                            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                            <input type="text" pInputText size="50" placeholder="Rechercher dans le tableau"
                                   (input)="doFilter($event.target['value'])" style="width:auto">
                            <br>
                            <br>
                            <div class="d-flex justify-content-end" *ngIf="montantTotalPaye<inscriptionacad?.idclasse?.idfiliere?.paramFraisEncadrement?.fraisAnnuel">
                                <a class="btn btn-success p-1" (click)="open(paiementModalContent)"  role="button">
                                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                                    Payer
                                </a>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="colgroup">
                            <colgroup>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th [pSortableColumn]="'datePaiement'" pResizableColumn>
                                    Date Paiement <p-sortIcon [field]="'datePaiement'"></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'montantPaye'" pResizableColumn>
                                    Montant payé <p-sortIcon [field]="'montantPaye'"></p-sortIcon>
                                </th>
                                <th pResizableColumn>
                                    Methode de paiement
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-paiementFraisEncadrememnt let-editing="editing">
                            <tr [pEditableRow]="paiementFraisEncadrememnt" [pSelectableRow]="paiementFraisEncadrememnt"
                                [pContextMenuRow]="paiementFraisEncadrememnt">
                                <td class="ui-resizable-column">
                                    {{ paiementFraisEncadrememnt?.datePaiement | date:'dd/mm/yyyy'}}
                                </td>
                                <td class="ui-resizable-column">
                                    <span class="badge badge-secondary" style="font-size: 14px;">
                                        {{ paiementFraisEncadrememnt?.montantPaye | currency:'F CFA':'code':'3.2-2':'fr'}}
                                    </span>

                                </td>
                                <td class="ui-resizable-column">
                                    {{  paiementFraisEncadrememnt?.methodePaiement.codemodepaiement + '-' + paiementFraisEncadrememnt?.methodePaiement.libellemodepaiement}}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer" let-columns>
                            <tr>
                                <td>Date paiement</td>
                                <td>Montant payé</td>
                                <td>Methode de paiement</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="d-flex justify-content-center align-items-center" *ngIf="!paiementFraisEncadrememnts.length" >
                    <i class="fa fa-exclamation-circle text-danger" aria-hidden="true" style="font-size: 60px;"></i> &nbsp; &nbsp;
                    <h4 style="font-weight: bold;" > Aucune donnée disponible. </h4>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #paiementModalContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Paiement</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <ng-template *ngIf="inscriptionacad?.idclasse?.idfiliere?.paramFraisEncadrement?.mensualite; then first else second"></ng-template>
                <ng-template  #first>
                    <label for="nbrMois">Nombre de mois à payer: Il vous reste Il vous reste {{(inscriptionacad.idclasse.idfiliere.paramFraisEncadrement.fraisAnnuel - montantTotalPaye)/inscriptionacad.idclasse.idfiliere.paramFraisEncadrement.mensualite}} mois à payé(s)</label>
                    <div class="input-group">
                        <input [(ngModel)]="montant" [class.is-invalid]="!ispaiementValidationValid" (input)="validateNbrMois(+$event.target['value'])" id="nbrMois" ngbAutofocus  type="number" class="form-control" placeholder="Combient de mois voulez vous payer?" name="montant" required>
                        <div class="invalid-feedback">
                            {{paiementValidateErrorMessage}}
                        </div>
                    </div>
                </ng-template>
                <ng-template #second>
                    <label for="montantAPaye">Montant à payé: Il vous reste {{(this.inscriptionacad.idclasse.idfiliere.paramFraisEncadrement.fraisAnnuel - this.montantTotalPaye)}} FCFA à payés</label>
                    <div class="input-group">
                        <input [(ngModel)]="montant" [class.is-invalid]="!ispaiementValidationValid" (input)="validateMontantAPaye(+$event.target['value'])" id="montantAPaye" ngbAutofocus  type="number" class="form-control" placeholder="Veuillez saisir le montant à payé?" name="montant" required>
                        <div class="invalid-feedback">
                            {{paiementValidateErrorMessage}}

                        </div>
                    </div>
                </ng-template>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" [disabled]="!ispaiementValidationValid" class="btn btn-outline-dark" (click)="startPaymentProcess()">Suivant</button>
    </div>
</ng-template>
