<p-toast></p-toast>
<!-- form demande_document info -->
<form *ngIf="'DemandeDocument'|creable" class="form" role="form" #demande_documentForm="ngForm" autocomplete="off">
  <p-fieldset legend="Creation utilisateur" [toggleable]="true">
    <!-- debut body -->
    <div class="row">
                            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="type">Type</label>
                    <input [(ngModel)]="demande_document.type" class="form-control" type="text" name="type" id="type">
                </div>
            </div>
                            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="intitule">Intitule</label>
                    <input [(ngModel)]="demande_document.intitule" class="form-control" type="text" name="intitule" id="intitule">
                </div>
            </div>
          
    </div>
    <!-- fin body -->
    <p-toolbar>
      <button type="button" (click)="location.back()" class="btn btn-outline-secondary mr-1 pull-left"><i
          class="fa fa-reply" aria-hidden="true"></i>
        Retour</button>
      <button type="reset" class="btn btn-secondary pull-left"><i class="fa fa-eraser" aria-hidden="true"></i>
        Vider le formulaire</button>
      <button [disabled]="demande_documentForm.invalid" type="button" (click)="saveDemandeDocumentAndExit()"
        class="btn btn-outline-primary pull-right ml-1"> <i class="fa fa-save" aria-hidden="true"></i>
        Enregistrer</button>
      <button [disabled]="demande_documentForm.invalid" type="button" (click)="saveDemandeDocument()"
        class="btn btn-outline-primary pull-right"> <i class="fa fa-save" aria-hidden="true"></i>
        Enregistrer & Créer un autre</button>
    </p-toolbar>
  </p-fieldset>
</form>
<!-- /form demande_document info -->
