<p-toast></p-toast>
<div class="d-flex justify-content-center align-items-center w-100 h-100 login-container">
    <div class="col-xl-4 col-md-6 col-10">
        <div class="card border-0 box-shadow rounded-0">
            <div [routerLink]="['']" routerLinkActive="router-link-active"
                class="card-header d-flex justify-content-center align-items-center border-0 box-shadow">
                <!-- <i class="fa fa-sign-in" aria-hidden="true"></i> -->
                <img style="border-radius: 50%;margin-left: 5px;" width="150" height="150" src="/assets/img/logo_ut.jpg"
                    alt="logo_ut">
            </div>
            <div class="card-body text-center pb-1">
                <h2>Spet - Mot de Passe oublié ?</h2>
                <a routerLink="/register" class="transition">Pas encore de compte ? Créez un compte dès
                    maintenant</a><br>
                <a (click)="openEmailChangeComponent()" class="transition">J'ai des problèmes avec mon mail ?</a><br>
                <a routerLink="/login" class="transition">Revenir à la page de connexion</a><br>
                <!-- <a target="_blank" class="transition" href="http://wifi.univ-thies.sn/recherchermail.php">Trouver mon
                    adresse email universitaire ?</a> -->

                <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="text-left mt-4">
                    <div class="form-group">
                        <label for="email">Votre adresse email universitaire</label>
                        <input [formControl]="email" class="form-control validation-field"
                            placeholder="Email" type="email" name="email" id="email">
                        <small class="text-danger"
                            *ngIf="form.get('email').touched && form.get('email').hasError('required')">Email
                             obligatoire</small>
                        <small class="text-danger"
                            *ngIf="form.get('email').touched && form.get('email').hasError('email')">Adresse
                            email invalide</small>
                    </div>
                    <div class="form-group">
                        <button id="forgotPasswordBtn" [disabled]="!form.valid" class="btn btn-block" type="submit">Recevoir un lien de réinitialisation</button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center bg-transparent">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x"></i>
                        </span>
                    </li>
                    <li class="list-inline-item">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x"></i>
                        </span>
                    </li>
                    <li class="list-inline-item">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-google fa-stack-1x"></i>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>