.login-container{
    position: absolute;
    .card{
        .card-header{
            width: 150px;
            height: 150px;
            margin: 0 auto;
            margin-top: -40px;
            border-radius: 50%;
            font-size: 36px;
        }
    }
}


#forgotPasswordBtn {
    background-color: teal;
    color: white;
}