<form *ngIf="!inscriptionacad.id" #inscriptionForm="ngForm">
    <div class="card">
        <div class="card-body">
            <fieldset class="border p-2">
                <legend class="w-auto" style="font-size:4vmin;">Formation & Modalité:</legend>
                <div class="form-row">
                    <div class="col-sm-12 col-md-12 col-lg-6 form-group">
                        <label style="font-weight: bold;">Spécialité:</label>
                        <select required [(ngModel)]="inscriptionacad.idspecialite" class="custom-select"
                            name="specialite">
                            <option disabled selected>Selectionnez une spécialité</option>
                            <option *ngFor="let specialite of specialites" [value]="specialite.id">
                                {{specialite.libellespecialite}}</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-12 col-md-12 col-lg-6">
                        <label style="font-weight: bold;">Regime d'inscription</label>
                        <select class="custom-select" [disabled]="true"
                            name="regime">
                            <option [selected]="preinscription?.idregimeinscription.id==regimeinscription.id" [value]="regimeinscription.id" *ngFor="let regimeinscription of regimeinscriptions">
                                {{regimeinscription.libelleregimeinscription}}</option>
                        </select>
                    </div>
                    <div *ngIf="preinscription?.idregimeinscription?.coderegimeinscription=='RNP' || preinscription?.idregimeinscription?.coderegimeinscription=='RPP'"
                        class="form-group col-sm-12 col-md-12 col-lg-6">
                        <label style="font-weight: bold;">Cout de la formation:</label>
                        <input required [(ngModel)]="inscriptionacad.coutformation" class="form-control" type="number"
                            name="cout" />
                    </div>
                    <div class="form-group col-sm-12 col-md-12 col-lg-6" *ngIf="preinscription?.paiementConfirme">
                        <label style="font-weight: bold;">Mode de paiement</label>
                        <select [disabled]="true" required [value]="inscriptionacad.idmodepaiement" class="custom-select"
                            name="regime">
                            <option disabled selected>Selectionnez le mode de paiement </option>
                            <option [value]="modepaiement.id" *ngFor="let modepaiement of modepaiements">
                                {{modepaiement.libellemodepaiement}}</option>
                        </select>
                    </div>
                    <div *ngIf="preinscription?.paiementConfirme"
                        class="form-group col-sm-12 col-md-12 col-lg-6">
                        <label style="font-weight: bold;">Montant Inscription:</label>
                        <input [disabled]="true" required [value]="preinscription.montant" class="form-control" type="number"
                            name="montantinscriptionacad" />
                    </div>
                    <div *ngIf="preinscription?.paiementConfirme"
                        class="form-group col-sm-12 col-md-12 col-lg-6">
                        <label style="font-weight: bold;">Numéro de transaction ou reference de paiement:</label>
                        <input [disabled]="true" required [value]="preinscription.numeroTransaction" class="form-control" type="text"
                            name="numquittance" />
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary" (click)="goToPrevious()">
                <i class="fa fa-chevron-left arrow"></i>
                &nbsp; Etape précedente
            </button>
            <button (click)="createInscription()" [disabled]="inscriptionForm.invalid" type="button"
                class="btn btn-outline-primary pull-right">Valider inscription & Continuer</button>
        </div>
    </div>
</form>
<form *ngIf="inscriptionacad.id" #inscriptionEditForm="ngForm">
    <div class="card">
        <div class="card-body">
            <fieldset class="border p-2">
                <legend class="w-auto" style="font-size:4vmin;">Formation & Modalité:</legend>
                <div class="form-row">
                    <div class="col-sm-12 col-md-12 col-lg-6 form-group">
                        <label style="font-weight: bold;">Spécialité:</label>
                        <select required [(ngModel)]="inscriptionacad.idspecialite.id" class="custom-select"
                            name="specialite">
                            <option disabled selected>Selectionnez une spécialité</option>
                            <option *ngFor="let specialite of specialites" [value]="specialite.id">
                                {{specialite.libellespecialite}}</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-12 col-md-12 col-lg-6">
                        <label style="font-weight: bold;">Regime d'inscription</label>
                        <select [disabled]="true" required class="custom-select"
                            name="regime">
                            <option [selected]="preinscription?.idregimeinscription?.id==regimeinscription.id" [value]="regimeinscription.id" *ngFor="let regimeinscription of regimeinscriptions">
                                {{regimeinscription.libelleregimeinscription}}</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-12 col-md-12 col-lg-6" *ngIf="preinscription?.paiementConfirme">
                        <label style="font-weight: bold;">Mode de paiement</label>
                        <select [disabled]="true" required [value]="inscriptionacad.idmodepaiement.id" class="custom-select"
                            name="regime">
                            <option disabled selected>Selectionnez le mode de paiement </option>
                            <option [value]="modepaiement.id" *ngFor="let modepaiement of modepaiements">
                                {{modepaiement.libellemodepaiement}}</option>
                        </select>
                    </div>
                    <div *ngIf="preinscription?.paiementConfirme"
                        class="form-group col-sm-12 col-md-12 col-lg-6">
                        <label style="font-weight: bold;">Montant Inscription:</label>
                        <input [disabled]="true" required [value]="preinscription.montant" class="form-control" type="number"
                            name="montantinscriptionacad" />
                    </div>
                    <div *ngIf="preinscription?.paiementConfirme"
                        class="form-group col-sm-12 col-md-12 col-lg-6">
                        <label style="font-weight: bold;">Numéro de transaction ou reference de paiement:</label>
                        <input [disabled]="true" required [value]="inscriptionacad.numquittance" class="form-control" type="text"
                            name="numquittance" />
                    </div>
                    <div *ngIf="preinscription?.idregimeinscription?.coderegimeinscription=='RNP' || preinscription?.idregimeinscription?.coderegimeinscription=='RPP'"
                        class="form-group col-sm-12 col-md-12 col-lg-6">
                        <label style="font-weight: bold;">Cout de la formation:</label>
                        <input required [(ngModel)]="inscriptionacad.coutformation" class="form-control" type="number"
                            name="cout" />
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary" (click)="goToPrevious()">
                <i class="fa fa-chevron-left arrow"></i>
                &nbsp; Etape précedente
            </button>
            <button (click)="updateInscription()" [disabled]="inscriptionEditForm.invalid" type="button"
                class="btn btn-outline-primary pull-right">Valider inscription & Continuer</button>
        </div>
    </div>
</form>