<div class="row mb-4">
    <div class="col">
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0"><b class="badge badge-info">Notes d'information</b></h5>
            </div>
            <div class="card-body pt-0 widget-body border-1">
                <p class="fs-13"><b>Votre adresse email institutionnelle est:
                        <code style="font-weight: bolder;">{{etudiant?.emailUniv}}</code>.</b>
                </p>
                <h2>Bienvenue dans votre <b>Espace Etudiant</b></h2>
                La messagerie de l’université est accessible à l’adresse <a target="_blank"
                    href="http://mail.univ-thies.sn">mail.univ-thies.sn</a> ou directement
                sur <a target="_blank" href="https://gmail.com.">gmail.com.</a>.<br>
                Pour recevoir vos paramètres de connexion à la messagerie,
                vous devez <code>impérativement</code> mettre à jour vos informations personnelles
                en cliquant sur le bouton <span class="text-danger">Mettre à jour mes informations</span>
                au niveau votre dossier.<br>
                Pour tout problème d’accès à votre messagerie, veillez contacter le service support à l’adresse
                <a
                    href="mailto:supportit@univ-thies.sn?subject=Assistance sur la messagerie">supportit@univ-thies.sn</a>
                ou remplir le formulaire se trouvant sur <a href="http://support.univ-thies.sn/" target="_blank"
                    rel="noopener noreferrer">http://support.univ-thies.sn/</a>. <br>
                Il vous permettra :
                <ul class="container">
                    <li>D’être informé des actualités de l’université de Thiès</li>
                    <li>D’envoyer et de recevoir des mails sécurisés</li>
                    <li>
                        D’accéder aux services :
                        <ul class="container">
                            <li>Drive : pour le travail collaboratif</li>
                            <li>Meet et Hangout pour la vidéoconférence entre groupes
                                de projet</li>
                            <li>Sites : pour la création de page personnelle</li>
                        </ul>
                    </li>
                    <li>
                        D’accéder à la plateforme d’enseignement à distance <a target="_blank"
                            href="https://fad.univ-thies.sn">fad.univ-thies.sn </a>
                    </li>
                </ul>
                Pour tout problème technique lié à la plateforme espace étudiant, veuillez contacter le service
                assistance à l’adresse
                <a
                    href="mailto:assistance@univ-thies.sn?subject=Assistance sur l'espace étudiant">assistance@univ-thies.sn</a><br>
                <br>
                Merci de contacter la DSOS si vous constatez des erreurs sur vos informations personnelles non
                modifiables ou pour toute information complémentaire: <a
                    href="mailto:dsos@univ-thies.sn?subject=Demande d'informations complementaires dans Spet">dsos@univ-thies.sn</a>
                <div class="row mb-4">
                    <div class="col">
                        <div class="card-group">
                            <div class="card">
                                <img class="card-img-top w-100" height="230px" src="assets/img/logo_ut.jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Université de Thiès</h4>
                                    <p class="card-text">Dans le cadre de l’initiative spéciale des Nations Unies, le
                                        secteur de l’éducation du Sénégal a entrepris l’élaboration et la mise en œuvre
                                        d’un Programme Décennal de l’Éducation et de la Formation (PDEF) couvrant la
                                        période 2001 – 2010.
                                    </p>
                                    <p> Pour obtenir une meilleure mise en cohérence de l’ensemble des actions
                                        éducatives au Sénégal, le Sénégal a décidé d’élargir la carte universitaire en
                                        créant de nouvelles structures dont l’Université de Thiès.</p>
                                    <p class="card-text">
                                        Née de la fusion de plusieurs écoles et instituts de formation
                                        supérieure, l’Université de Thiès ainsi créée contribue à la diversification de
                                        l’offre d’enseignement supérieur au Sénégal, dans la sous région et en Afrique.
                                    </p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header text-white text-center" style="background-color: orangered;">
                                    Contactez nous</div>
                                <div class="card-body">
                                   <app-contact></app-contact>

                                    <!-- <p class="card-text">
                                        Tout en valorisant les atouts économiques et culturels de son site
                                        d’implantation, elle remplit les missions classiques de formation et de
                                        recherche en mettant l’accent sur les volets technologique, professionnel et sur
                                        l’insertion.
                                    </p>
                                    L’Université de Thiès est une structure d’enseignement supérieur dont la mission
                                    est de :<br>
                                    <ul class="list-unstyled">
                                        <li>
                                            <p>
                                                - Proposer des offres de formation plus performantes, s’enracinant dans
                                                les
                                                réalités locales favorisant ainsi des passerelles pour l’orientation, la
                                                professionnalisation et l’ouverture à l’International.
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                - Mettre à la disposition des entreprises une ressource humaine
                                                qualifiée par
                                                l’adaptation des formations aux besoins du milieu professionnel.
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                - Organiser des enseignements et des activités de recherche visant au
                                                perfectionnement permanent, à l’adaptation et à la participation à
                                                l’évolution.
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                - Mener des expertises au profit des organismes publics, privés et des
                                                collectivités locales.
                                            </p>
                                        </li>
                                    </ul>
                                    <p class="card-text">
                                        La particularité de l’Université de Thiès réside dans la diversité de sa
                                        composition. Il s’agit, en effet, de la fédération de structures de formation et
                                        de recherches déjà existantes et des structures nouvellement créées.
                                    </p> -->
                                </div>
                            </div>
                            <div class="card" routerLinkActive="router-link-active">
                                <img [routerLink]="['/mes-infos']" class="card-img-top w-100"
                                    src="assets/img/dossier.jpg" alt="Dossier">
                                <div class="card-body">
                                    <h4 class="card-title">Mon dossier</h4>
                                    <p class="card-text">
                                        L'Université de Thiès demande aux bacheliers de ne communiquer, en aucun cas,
                                        ces informations de
                                        connexion à l'espace étudiant à des tiers :
                                    </p>
                                    <ul class="list-unstyled">
                                        <li>
                                            - INE
                                        </li>
                                        <li>
                                            - Numéro de carte d'étudiant
                                        </li>
                                        <li>
                                            - Adresse Email
                                        </li>
                                        <li>
                                            - Mot de passe
                                        </li>
                                    </ul>
                                    <p class="card-text">
                                        Elles sont strictement personnelles et doivent être soigneusement conservées par
                                        l'étudiant. Il est absolument interdit de recourir à des tiers ou des
                                        associations, à quelque titre que ce soit, dans le cadre des opérations
                                        réalisées en vue de l'inscription.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <h1>GPE</h1>
                <div class="row">
                    <div class="col">
                        <div class="card-deck">
                            <div class="card">
                                <img class="card-img-top w-100" src="assets/img/app/4.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Comment ça marche ?</h4>
                                    <p class="card-text">This is a longer card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Découvrir GPE</small>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top w-100" src="assets/img/app/6.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Guide</h4>
                                    <p class="card-text">This card has supporting text below as a natural lead-in to
                                        additional content.</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Comprendre la procédure</small>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top w-100" src="assets/img/app/7.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Contacts DSI</h4>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This card has even longer content than the first
                                        to show that equal height action.</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Université de Thiès</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>