<div class="row mb-4">
    <div class="col">
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0"><b class="badge badge-info">Notes d'information</b></h5>
            </div>
            <div class="card-body pt-0 widget-body border-1">
                <p class="fs-13"><b>Votre adresse email institutionnelle est:
                        <code style="font-weight: bolder;">{{etudiant?.emailUniv}}</code>.</b>
                </p>
                <h2>Bienvenue dans votre <b>Espace Etudiant</b></h2>
                <div class="row mb-4">
                    <div class="col">
                        <div class="card-group">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card">
                                        <div class="card-header">
                                            <i class="fa fa-link" aria-hidden="true"> </i>
                                            Services électroniques aux étudiants
                                        </div>
                                        <div class="card-body">
                                            <div class="card card-responsive-sm">
                                                <div class="list-group">
                                                    <a href="http://mail.univ-thies.sn/" target='_blank'
                                                        class="list-group-item list-group-item-action">
                                                        <i class="pi pi-external-link" style="font-size: 18px;"></i>
                                                        Accéder à votre boîte mail institutionnelle
                                                    </a>
                                                    <a href="http://www.scholarvox.com/" target='_blank'
                                                        class="list-group-item list-group-item-action">
                                                        <i class="pi pi-external-link" style="font-size: 18px;"></i>
                                                        Accéder à la bibliothèque numérique LMD
                                                    </a>
                                                    <a href="http://fad.univ-thies.sn/" target='_blank'
                                                        class="list-group-item list-group-item-action">
                                                        <i class="pi pi-external-link" style="font-size: 18px;"></i>
                                                        Accéder à la
                                                        plateforme de formation à distance</a>
                                                    <a href="https://www.univ-thies.sn/" target='_blank'
                                                        class="list-group-item list-group-item-action">
                                                        <i class="pi pi-external-link" style="font-size: 18px;"></i>
                                                        Accéder au site
                                                        officiel de l'Université</a>
                                                    <a href="https://bibliotheque.univ-thies.sn/" target='_blank'
                                                        class="list-group-item list-group-item-action">
                                                        <i class="pi pi-external-link" style="font-size: 18px;"></i>
                                                        Accéder à la
                                                        bibliothèque numérique Universitaire</a>
                                                    <a href="http://support.univ-thies.sn/" target='_blank'
                                                        class="list-group-item list-group-item-action">
                                                        <i class="pi pi-external-link" style="font-size: 18px;"></i>
                                                        Support IT de la
                                                        DSI de l'Université</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card" routerLinkActive="router-link-active">
                                <img [routerLink]="['/mes-infos']" class="card-img-top w-100"
                                    src="assets/img/dossier.jpg" alt="Dossier">
                                <div class="card-body">
                                    <h4 class="card-title">Mon dossier</h4>
                                    <p class="card-text">
                                        L'Université de Thiès demande aux bacheliers de ne communiquer, en aucun cas,
                                        ces informations de
                                        connexion à l'espace étudiant à des tiers :
                                    </p>
                                    <ul class="list-unstyled">
                                        <li>
                                            - INE
                                        </li>
                                        <li>
                                            - Numéro de carte d'étudiant
                                        </li>
                                        <li>
                                            - Adresse Email
                                        </li>
                                        <li>
                                            - Mot de passe
                                        </li>
                                    </ul>
                                    <p class="card-text">
                                        Elles sont strictement personnelles et doivent être soigneusement conservées par
                                        l'étudiant. Il est absolument interdit de recourir à des tiers ou des
                                        associations, à quelque titre que ce soit, dans le cadre des opérations
                                        réalisées en vue de l'inscription.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <h1>GPE</h1>
                <div class="row">
                    <div class="col">
                        <div class="card-deck">
                            <div class="card">
                                <img class="card-img-top w-100" src="assets/img/app/4.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Comment ça marche ?</h4>
                                    <p class="card-text">This is a longer card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Découvrir GPE</small>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top w-100" src="assets/img/app/6.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Guide</h4>
                                    <p class="card-text">This card has supporting text below as a natural lead-in to
                                        additional content.</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Comprendre la procédure</small>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top w-100" src="assets/img/app/7.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Contacts DSI</h4>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This card has even longer content than the first
                                        to show that equal height action.</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Université de Thiès</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>