<div class="card">
    <div class="card-body">
        <h4 class="card-title"><span class="badge badge-info">Description des modalités</span></h4>
        <p class="card-text">
            Dans le but de dématerialiser le processus d'inscription administrative,
            l'Université de Thiès en parternariat avec Orange Money met à la disposition
            des étudiants un moyen de paiement pour faciliter la vie aux étudiants.
        </p>
        <p class="card-text">
            L'acceptation dans l’une des formations offertes par l'université de Thiès n'est effective qu'après le
            paiement des frais d'inscription.
        </p>
        <p>
            Les nouveaux bacheliers et les anciens étudiants peuvent s’acquitter des formalités de paiement de leurs
            droits d’inscription à
            partir de la date de validation de la préinscription, et pendant le délai qui leur est communiqué par email
            et/ou SMS, auprès des prestataires de transfert d’argent agréés par l'Université. Pour l’année 2019/2020, le
            prestataire de transfert d’argent agréé est : Orange Money.
        </p>
        <p class="text-danger">
            <b>Attention</b> : Passé le délai défini, les bacheliers qui ne se seront pas acquittés du paiement de leur
            droit d’inscription perdront irrévocablement leur droit à être orienté.
        </p>
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Procédure :</h2>
                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <td scope="row">
                                <span class="badge badge-success">1</span>
                            </td>
                            <td>
                                Consulter la liste ci-dessous des prestataires agréés par l'Université et les conditions
                                de paiement
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <span class="badge badge-success">2</span>
                            </td>
                            <td>
                                Connectez-vous à la plateforme avec vos identifiants (Créez un compte si vous n'en
                                disposez pas encore);
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <span class="badge badge-success">3</span>
                            </td>
                            <td>
                                Selectionner la preinscription que vous voulez finaliser et suivre les instructions.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Prestataires agréés</h2>
                <div class="row">
                    <div class="col-md-12">
                        <p-dataView [value]="moyenPaiements">
                            <p-header>
                                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                            </p-header>
                            <ng-template let-moyenPaiement pTemplate="listItem">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img [src]="moyenPaiement.img" height="250px" alt="Orange Money"
                                            class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                                            alt="">
                                    </div>
                                    <div class="col-md-8">
                                        <b>Désignation</b> : {{moyenPaiement.nom}}<br>
                                        <b>Frais</b>: {{moyenPaiement.frais}}<br>
                                        <b>Conditions</b>: {{moyenPaiement.conditions}}<br>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template let-moyenPaiement pTemplate="gridItem">
                                <div class="ui-g-12 ui-md-3">
                                    <img [src]="moyenPaiement.img" height="250px" alt="Orange Money"
                                        class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                                        alt="">
                                    <div>
                                        <b>Désignation</b> : {{moyenPaiement.nom}}<br>
                                        <b>Frais</b>: {{moyenPaiement.frais}}<br>
                                        <b>Conditions</b>: {{moyenPaiement.conditions}}<br>
                                    </div>
                                </div>
                            </ng-template>
                        </p-dataView>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>