<!-- <div class="row mb-1">
    <div class="col-md-12">
        <statistique-inscription></statistique-inscription>
    </div>
</div> -->
<!-- {{inscriptions|json}} -->
<!-- <div class="row mb-2 d-flex justify-content-between">
    <div class="col-sm-12 col-md-12 col-lg-12 justify-content-between">
        <div class="card border-warning">
            <div class="card-body d-flex justify-content-between align-items-center">
                <div class="d-inline">
                    <span class="title badge badge-warning" style="font-size: 13px;">
                        Vous devez charger tous les documents.
                    </span>
                </div>
                <div class="btn-group ml-1" role="group">
                    <button class="btn btn-primary" (click)="displayDocumentModal()">
                        <i class="fa fa-pencil-square" aria-hidden="true"></i> Charger les documents
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> -->
<hr>
<div class="card border-info" *ngIf="inscriptions.length">
    <div class="card-body">
        <h4 class="card-title">Mon Parcours
            <span *ngIf="inscriptions[0]?.croust" class="badge badge-success float-right">Souscrit au service du Croust</span>
            <span *ngIf="!inscriptions[0]?.croust" class="badge badge-danger float-right">Non souscrit au service du Croust</span>
        </h4>
        <div class="col-md-12 col-lg-12 col-sm-12">
            <p-accordion>
                <p-accordionTab [header]="inscriptionacad?.idclasse?.idanneeacad?.libelleanneeacad + '-' + inscriptionacad?.idclasse?.idniveau?.libelleniveau+ '-'+
                inscriptionacad?.idclasse?.idfiliere?.codefiliere"
                    *ngFor="let inscriptionacad of inscriptions; let i=index" [selected]="i==0">
                    <p-toolbar>

                        <!-- <div class="ui-toolbar-group-left">
                            <button type="button" ngbTooltip="Faire une demande" placement="bottom"
                                class="mr-2 mb-1 btn btn-outline-primary"
                                (click)="showDocAdminRequestDialog(inscriptionacad)">Doc. Administratif</button>
                            <button type="button" ngbTooltip="Faire une demande" placement="bottom"
                                class="mr-2 mb-1 btn btn-outline-warning"
                                (click)="showDocPedagRequestDialog(inscriptionacad)">Doc. Pédagogique</button>
                        </div> -->

                        <div class="ui-toolbar-group-right">
                            <button [routerLink]="['/inscription-pedagogique',inscriptionacad?.id]"
                                class="btn btn-sm-block btn-outline-secondary mb-1 mr-2" style="margin-bottom: 5px">
                                <i class="fa fa-edit"></i> Inscription pédagogique
                            </button>
                            <button [disabled]="true" [routerLink]="['/note-evaluation',inscriptionacad?.id]" href="#"
                                class="btn btn-sm-block btn-outline-primary mb-1 mr-2" style="margin-bottom: 5px"><i
                                    class="fa fa-eye"></i> Voir mes notes <span class="badge badge-danger">bientôt
                                    disponible</span>
                            </button>
                        </div>
                    </p-toolbar>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-university"></i> <b> Etablissement </b>
                                </div>
                                <div class="card-body">
                                    <div class="card card-responsive">
                                        <table class="table table-responsive-sm">
                                            <tr>
                                                <th> Etablissement</th>
                                                <td><a
                                                        class="float-right">{{inscriptionacad?.idspecialite?.idfiliere?.identite?.identiteparent?.libelleentite}}</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th> Département</th>
                                                <td><a
                                                        class="float-right">{{inscriptionacad?.idspecialite?.idfiliere?.identite?.libelleentite}}</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th> Classe</th>
                                                <td><a
                                                        class="float-right">{{inscriptionacad?.idclasse?.libelleclasse}}</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th> Spécialité</th>
                                                <td><a
                                                        class="float-right">{{inscriptionacad?.idspecialite?.libellespecialite}}</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-mortar-board"></i> <b> Formation </b>
                                </div>
                                <div class="card-body">
                                    <div class="card">
                                        <table class="table table-responsive-sm">
                                            <tr>
                                                <th> Passage</th>
                                                <td>
                                                    <a class="float-right">
                                                        <span class="badge badge-success badge-pill"
                                                            *ngIf="inscriptionacad.passage == 'P'">Passant</span>
                                                        <span class="badge badge-warning badge-pill"
                                                            *ngIf="inscriptionacad.passage == 'C'">Conditionnel</span>
                                                        <span class="badge badge-danger badge-pill"
                                                            *ngIf="inscriptionacad.passage == 'R'">Redoublant</span>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th> Date d'inscription</th>
                                                <td><a class="float-right">{{inscriptionacad?.dateinscacad|date:"dd/MM/yyyy
                                                        HH:mm:ss" }}</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th> Mode d'enseignement</th>
                                                <td><a
                                                        class="float-right">{{inscriptionacad?.idmodaliteenseignement?.description}}</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th> Etat inscription</th>
                                                <td>
                                                    <span class="badge badge-success badge-pill"
                                                        *ngIf="inscriptionacad.etat == 'V'">Validée</span>
                                                    <span class="badge badge-warning badge-pill"
                                                        *ngIf="inscriptionacad.etat == 'I'">Instance</span>
                                                    <span class="badge badge-error badge-pill"
                                                        *ngIf="inscriptionacad.etat == 'S'">Suspendu</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-bar-chart"></i> <b> Résultat scolaire </b>
                                </div>
                                <div class="card-body">
                                    <div class="card">
                                        <table class="table table-responsive-sm">
                                            <tr>
                                                <th>Moyenne annuelle</th>
                                                <td><a *ngIf="inscriptionacad.moyenneAnnuelle" class="float-right"><span
                                                            class="badge badge-success badge-pill">{{inscriptionacad.moyenneAnnuelle}}</span></a>
                                                    <span *ngIf="!inscriptionacad.moyenneAnnuelle"
                                                        class="badge badge-danger float-right">Non disponible</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Total crédit</th>
                                                <td><a *ngIf="inscriptionacad.totalCredit" class="float-right"><span
                                                            class="badge badge-primary badge-pill">{{inscriptionacad.totalCredit}}</span></a>
                                                    <span *ngIf="!inscriptionacad.totalCredit"
                                                        class="badge badge-danger float-right">Non disponible</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Crédit capitalisé</th>
                                                <td><a *ngIf="inscriptionacad.creditCapitalise"
                                                        class="float-right"><span
                                                            class="badge badge-primary badge-pill">{{inscriptionacad.creditCapitalise}}</span></a>
                                                    <span *ngIf="!inscriptionacad.creditCapitalise"
                                                        class="badge badge-danger float-right">Non disponible</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Décision du conseil</th>
                                                <td><a *ngIf="inscriptionacad.decisionConseil"
                                                        class="float-right">{{inscriptionacad.decisionConseil}}</a>
                                                    <span *ngIf="!inscriptionacad.decisionConseil"
                                                        class="badge badge-danger float-right">Non disponible</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </div>
        <!-- <p-dialog [(visible)]="display" [baseZIndex]="10000" [resizable]="true">
            <p-header>
                <p-toolbar>
                    <div class="ui-toolbar-group-left">
                        <button routerLink="/demandedocument" pButton type="button" label="Mes demandes"
                            icon="pi pi-file" class="ui-button-warning">
                        </button>
                    </div>
                </p-toolbar>
            </p-header>
            <div class="ui-dialog-content mt-2">
                <h4 class="text-center text-uppercase py-3 {{requestDocAdmin ? 'text-primary': 'text-warning'}}">
                    <i class="fa fa-files-o mr-1"></i>
                    Demande de document {{requestDocAdmin ? 'administratif' : 'pédagogique'}}
                </h4>
                <form #data="ngForm" (ngSubmit)="requestDocument()">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 form-group">
                            <label>Type de Document
                                <select style="width: 100%;" name="type" class="form-control"
                                    [(ngModel)]="dd.typedocument" required>
                                    <option *ngFor="let td of typedocuments | typedocument: source" [value]="td.id">
                                        {{td.libelletypedocument}}</option>
                                </select>
                            </label>
                        </div>
                        <div class="col-md-6 col-sm-12 form-group">
                            <label>Nature de la demande
                                <select style="width: 100%;" name="nature" [(ngModel)]="dd.nature" class="form-control"
                                    required>
                                    <option value="nouvelle">Nouvelle demande</option>
                                    <option value="duplicata">Demande de duplicata</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <button [disabled]="data.invalid" type="submit" class="btn btn-primary">Envoyer</button>
                </form>
            </div>
        </p-dialog> -->
    </div>
</div>